<article>
    {% if article.isShowtitle == 1 %}
    <header id="article_header">
        <div class="row">
            <div class="col-12">
                <h3>{{ article.title }}</h3>
            </div>
        </div>
    </header>
    {% else %}
    {% endif %}

    <section id="article_content">
        {% if article.articleFrontName is null %}
            <div class="row">
                <div class="col-12">
                    {% if article.isReadMore == 1 %}
                    <p>{{ article.content|u.truncate(600, ' ...')|markdown_to_html }}</p>
                    <p><a href="">Lire la suite ...</a></p>
                    {% else %}
                    <p>{{ article.content|markdown_to_html }}</p>
                    {% endif %}
                </div>
            </div>
        {% elseif article.articleFrontName is not null and article.articleFrontPosition == 'right' %}
        <div class="row">
            <div class="col-8">
                {% if article.isReadMore == 1 %}
                <p>{{ article.content|u.truncate(600, ' ...')|markdown_to_html }}</p>
                {% else %}
                <p>{{ article.content|markdown_to_html }}</p>
                {% endif %}
            </div>
            <div class="col-4">
                <img class="img-fluid" src="{{ vich_uploader_asset(article)|imagine_filter('article_front_image') }}" alt="{{ article.articleFrontName }}">
            </div>
        </div>
        {% elseif article.articleFrontName is not null and article.articleFrontPosition == 'left' %}
        <div class="row">
            <div class="col-4">
                <img class="img-fluid" src="{{ vich_uploader_asset(article)|imagine_filter('article_front_image') }}" alt="{{ article.articleFrontName }}">
            </div>
            <div class="col-8">
                {% if article.isReadMore == 1 %}
                <p>{{ article.content|u.truncate(600, ' ...')|markdown_to_html }}</p>
                {% else %}
                <p>{{ article.content|markdown_to_html }}</p>
                {% endif %}
            </div>
        </div>
        {% elseif article.articleFrontName is not null and article.articleFrontPosition == 'none' %}
            <div class="row">
                <div class="col-12">
                    <img class="img-fluid" src="{{ vich_uploader_asset(article) }}" alt="{{ article.articleFrontName }}">
                </div>
            </div>
        {% endif %}
    </section>
    {% if article.isShowdate == 1 %}
    <footer id="article_footer">
        <div class="row">
            <div class="col-12">
                <p>Article crée le : {{ article.createdAt|format_datetime('medium', 'none', locale='fr') }}</p>
                <p>Article modifié le : {{ article.updatedAt|format_datetime('medium', 'none', locale='fr') }}</p>
            </div>
        </div>
    </footer>
    {% else %}
    {% endif %}
</article>

