{% extends 'base.html.twig' %}

{% block title %}Society index{% endblock %}

{% block body %}
    <h1>Society index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Description</th>
                <th>RespFirstname</th>
                <th>RespLastName</th>
                <th>Address</th>
                <th>Complement</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Siret</th>
                <th>Ape</th>
                <th>Urlweb</th>
                <th>IsRs</th>
                <th>UrlFacebook</th>
                <th>UrlInstagram</th>
                <th>UrlLinkedin</th>
                <th>IsGroupeEntreprise</th>
                <th>FirstActivity</th>
                <th>SecondActivity</th>
                <th>ProjectDev</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for society in societies %}
            <tr>
                <td>{{ society.id }}</td>
                <td>{{ society.name }}</td>
                <td>{{ society.slug }}</td>
                <td>{{ society.description }}</td>
                <td>{{ society.respFirstname }}</td>
                <td>{{ society.respLastName }}</td>
                <td>{{ society.address }}</td>
                <td>{{ society.complement }}</td>
                <td>{{ society.zipcode }}</td>
                <td>{{ society.city }}</td>
                <td>{{ society.siret }}</td>
                <td>{{ society.ape }}</td>
                <td>{{ society.urlweb }}</td>
                <td>{{ society.isRs ? 'Yes' : 'No' }}</td>
                <td>{{ society.urlFacebook }}</td>
                <td>{{ society.urlInstagram }}</td>
                <td>{{ society.urlLinkedin }}</td>
                <td>{{ society.isGroupeEntreprise ? 'Yes' : 'No' }}</td>
                <td>{{ society.FirstActivity }}</td>
                <td>{{ society.secondActivity }}</td>
                <td>{{ society.projectDev }}</td>
                <td>{{ society.createdAt ? society.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ society.updatedAt ? society.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_society_show', {'id': society.id}) }}">show</a>
                    <a href="{{ path('admin_society_edit', {'id': society.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="24">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_society_new') }}">Create new</a>
{% endblock %}
