{% extends 'login.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 align-self-center px-lg-6 my-5">
        <!-- Heading -->
        <h2 class="display-4 text-center mb-3">
            Créer votre compte
        </h2>
        <p class="text-center d-lg-none">
            <img class="img-fluid" src="{{ asset('images/png/Logo_jaf.png') }}" alt="justafaire">
        </p>
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <!-- Subheading -->
        <p class="text-muted text-center mb-5">
            Accéder à votre espace personnel.
        </p>
        <!-- Form -->
        {{ form_start(registrationForm) }}

            <div class="form-floating mb-3">
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom de la société'}}) }}
                <label for="floatingInput"><i class="fas fa-user-circle"></i>  Login</label>
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(registrationForm.password, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom de la société'}}) }}
                <label for="floatingInput"><i class="fas fa-user-circle"></i>  Mot de passe</label>
            </div>

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(registrationForm) }}

    </div>
    <div class="col-md-6 col-lg-6 col-xl-8 d-none d-lg-block">
        <!-- Image -->
        <div id="block_login_image" class="bg-cover h-100 min-vh-100 mt-n1 mr-n3">

        </div>
    </div>

{% endblock %}
