<section
        {% if section.attrId is null %}id=""{% else %}id="{{ section.attrId }}"{% endif %}
        class="container"
        style=""
>
    <div id="section_title" class="row">
        {% if section.isShowtitle == 1 %}
        <div class="col">
            <h2>{{ section.title }}</h2>
        </div>
        {% else %}
        {% endif %}
    </div>
    <div id="section_content">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if section.contentType == 'intro'%}
                    {{ include('webapp/section/include/_sectionIntro.html.twig') }}

                {% elseif section.contentType == 'One_article' %}
                {{ render(controller('App\\Controller\\Webapp\\ArticleController::oneArticle', {'id': section.oneArticle})) }}
                {% elseif section.contentType == 'More_article'%}
                {% elseif section.contentType == 'Category'%}
                    {{ render(controller('App\\Controller\\Webapp\\ArticleController::carousel')) }}
                {% elseif section.contentType == 'One_event'%}
                {% elseif section.contentType == 'Events'%}
                    {{ render(controller('App\\Controller\\GestApp\\EventController::ListAllEventPublish')) }}
                {% elseif section.contentType == 'Member'%}
                    {{ render(controller('App\\Controller\\Admin\\MemberController::Members')) }}
                {% elseif section.contentType == 'Adhesion'%}
                    {{ render(controller('App\\Controller\\GestApp\\AdhesionController::addAdhesion')) }}
                {% elseif section.contentType == 'Avis'%}
                    {{ render(controller('App\\Controller\\GestApp\\AvisController::view')) }}
                {% else %}
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ asset('images/png/Evenement_2.png') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('images/png/Evenement_1.png') }}" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('images/png/Evenement_3.png') }}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>