{% if items %}
<table class="table">
    <thead>
    <tr>
        <th>Nom du produit</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>total</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for i in items %}
        <tr>
            {% set sstotal = i.qty * i.product.price %}
            <td><a href="{{ path('op_gestapp_product_show', {'id': i.product.id}) }}"></a>{{ i.product.name }}</td>
            <td>{{ i.product.price|number_format(2, ',', ' ') }} € / {{ i.product.productUnit }}</td>
            <td>
                <a class="js-increment" href="{{ path('op_webapp_cart_add', {'id': i.product.id}) }}?returnToCart=true"><i class="bi bi-plus-circle text-secondary"></i></a>
                {{ i.qty }}
                <a class="js-decrement" href="{{ path('op_webapp_cart_decrement', {'id': i.product.id}) }}?returnToCart=true"><i class="bi bi-dash-circle text-secondary"></i></a>
            </td>
            <td>{{ sstotal|number_format(2, ',', ' ') }} €</td>
            <td><a href="{{ path('op_webapp_cart_delete', {'id': i.product.id}) }}"><i class="bi bi-cart-dash text-danger" style="font-size: 1rem;"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">Total</td>
        <td colspan="2">{{ total|number_format(2, ',', ' ')}} €</td>
    </tr>
    </tfoot>
</table>
{# Formulaire de commande #}
    {% if app.user %}
    <h2>Confimez votre commande en remplissant ce formulaire</h2>
    {{ form_start(confirmationForm, {'action': path('op_webapp_purchase_confirm')}) }}
    {{ form_widget(confirmationForm) }}
    <button type="submit" class="btn btn-sm btn-success">Je confirme</button>
    {{ form_end(confirmationForm) }}
    {% else %}
    <div class="row">
        <div class="col-6">
            <button class="btn btn-sm btn-primary">se connecter</button>
        </div>
        <div class="col-6">
            <button class="btn btn-sm btn-warning">Créer son compte</button>
        </div>
    </div>
    {% endif %}
{% else %}
<h2>Le panier est vide</h2>
{% endif %}