{% if carts %}
    {% set qtyItems = 0 %}

    {% set sstotalnatures = 0 %}
    {% set weight = 0 %}
    {% set fp1 = 1.5 %}
    {% set fp2 = 2.90 %}
    {% set fp3 = 5.30 %}
    {% set fp4 = 7.90 %}
    {% set fp5 = 11.50 %}
    {% set colis = 0 %}


    {% if carts %}
        {# Sur chaque boucle on filtre les produits possédant une nature défini : aquarelle, calligraphie, sanctuaire #}
        {% for c in carts|filter(carts => carts.productNature == 'Aquarelle' or carts.productNature == 'Calligraphie' or carts.productNature == 'Sanctuaire') %}
            {% set qtyItems = qtyItems + c.productQty %}
            {% set qtyPricenature = c.productQty * c.customPrice %}
            {% set sstotalnatures = sstotalnatures + qtyPricenature %}
        {% endfor %}
    {% endif %}

    <section id="listCart">
        <table class="table align-middle">
            <thead>
            <tr>
                <th>Le produit</th>
                <th></th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set sstotal = 0 %}
            {% for c in carts %}
                <tr style="background: rgb(249, 249, 251);">
                    {% set qtyPrice = c.productQty * c.customPrice %}
                    {% set sstotal = sstotal + qtyPrice %}
                    {% set weight = c.productQty * c.customWeight %}
                    {% set colis = colis + weight%}
                    {# préparation du prix par quantité du produit #}
                    <td>
                        {# intégration de l'image au sein du panier #}
                         {% if c.product is null %}
                            <img class="rounded" src="{{ asset('images/jpg/Fond_product.jpg') | imagine_filter('product_image_cart') }}" alt="fond_product">
                        {% else %}
                            <img class="rounded" src="{{ vich_uploader_asset(c.product, 'productFile', 'App\\Entity\\gestapp\\Product') | imagine_filter('product_image_cart') }}" alt="{{ c.productName }}">&nbsp;&nbsp;
                        {% endif %}

                        {# lien vers la fiche produit #}
                        <a class="text-start" href="{{ path('op_gestapp_product_show', {'id': c.productid}) }}">{{ c.productName }}</a> - réf : {{ c.productRef }}
                    </td>
                    <td>

                        <form id="CustomizeProduct" action="{{ path('op_gestapp_product_customize_edit', {'id':c.productid}) }}?cart=true" class="row row-cols g-1 align-items-center">
                            <div class="col-8">
                                <select class="form-select form-select-sm" name="format" id="formatedit">
                                {% for f in c.product.formats %}
                                    <option value="{{ f.id }}">{{ f.name }} - {{f.weight}}g</option>
                                {% endfor %}
                                </select>
                            </div>

                            {% if c.productPerson > 0 %}
                            <div class="col-4">
                                <input id="persona" type="text" class="form-control form-control-sm" placeholder="Inscrivez votre prénom pour personnaliser la carte" value="{{ c.cus }}">
                            </div>
                            {% endif %}
                            <input id="sessid" name="sessid" type="hidden" value="{{ session }}">
                        </form>

                    </td>
                    <td>
                        {{ c.customPrice|number_format(2, ',', ' ') }} € /  {{ c.customFormat }}
                    </td>
                    <td>
                        <a class="js-increment" href="{{ path('op_webapp_cart_add', {'id': c.productId}) }}?returnToCart=true"><i class="bi bi-plus-circle text-secondary"></i></a>
                        {{ c.productQty }}
                        <a class="js-decrement" href="{{ path('op_webapp_cart_decrement', {'id': c.productId}) }}?returnToCart=true"><i class="bi bi-dash-circle text-secondary"></i></a>
                    </td>
                    <td>{{ qtyPrice|number_format(2, ',', ' ') }} €</td>
                    <td><a href="{{ path('op_webapp_cart_delete', {'id': c.productId}) }}"><i class="bi bi-bag-x-fill text-danger" style="font-size: 1rem;"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {# ligne de soustotal #}
            <tr>
                <th colspan="2"></th>
                <th>Total des produits du panier</th>
                <th></th>
                <th>{{ sstotal|number_format(2, ',', ' ')}} €</th>
                <th></th>
            </tr>
            {# ligne des reductions sur catégories produits #}
            <tr>
                <th colspan="2"></th>
                <td>
                    Offre de remise sur la quantité de carte :<br>
                    <span class="opgrey">
                    - 10% entre 50 et 99 cartes,<br>
                    - 15% entre 100 et 149 cartes,<br>
                    - 20% entre 150 et 299 cartes,<br>
                    - 25% entre 300 et 499 cartes,<br>
                    </span>
                </td>
                {% if qtyItems < 50 %}
                <td>{{ qtyItems }} cartes</td>
                <td colspan="2"></td>
                {% elseif qtyItems >= 50 and qtyItems <= 99 %}
                {% set reductotal = sstotalnatures*0.1 %}
                <td>
                    {{ qtyItems }} cartes
                </td>
                <td colspan="2">
                    - {{ reductotal|number_format(2, ',', ' ') }} €
                </td>
                {% elseif qtyItems >= 100 and qtyItems <= 149 %}{% set reductotal = sstotalnatures*0.15 %}
                <td>
                    {{ qtyItems }} cartes
                </td>
                <td colspan="3">
                    - {{ reductotal|number_format(2, ',', ' ') }} €
                </td>
                {% elseif qtyItems >= 150 and qtyItems <= 199 %}{% set reductotal = sstotalnatures*0.20 %}
                <td>
                    {{ qtyItems }} cartes
                </td>
                <td colspan="3">
                    - {{ reductotal|number_format(2, ',', ' ') }} €
                </td>
                {% endif %}
            </tr>
            {% if qtyItems > 50 %}
            <tr>
                {% set totalremise = sstotal - reductotal %}
                <th colspan="2"></th>
                <th>Total avec remise</th>
                <th></th>
                <th>{{ totalremise|number_format(2, ',', ' ')}} €</th>
                <th colspan="2"></th>
            </tr>
            {% endif %}
            {% if weight %}
            <tr>
                <td colspan="2"></td>
                <td>Frais de port</td>
                <td>
                    {% if colis <= 20 %}
                    {{ colis }} g
                    {% elseif colis > 20 and colis <= 100 %}
                    {{ colis }} g
                    {% elseif colis > 100 and colis <= 250 %}
                    {{ colis }} g
                    {% elseif colis > 250 and colis <= 500 %}
                    {{ colis }} g
                    {% elseif colis > 500 and colis <= 3000 %}
                    {{ colis }} g
                    {% endif %}
                </td>
                <td>
                    {% if colis <= 20 %}
                        {{ fp1|number_format(2, ',', ' ') }} €
                    {% elseif colis > 20 and colis <= 100 %}
                        {{ fp2|number_format(2, ',', ' ') }} €
                    {% elseif colis > 100 and colis <= 250 %}
                        {{ fp3|number_format(2, ',', ' ') }} €
                    {% elseif colis > 250 and colis <= 500 %}
                        {{ fp4|number_format(2, ',', ' ') }} €
                    {% elseif colis > 500 and colis <= 3000 %}
                       {{ fp5|number_format(2, ',', ' ') }} €
                    {% endif %}
                </td>
                <td></td>
            </tr>
            {% if qtyItems < 50 %}
            <tr>
                <th colspan="2"></th>
                <th>Total de votre commande</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% else %}
            <tr>
                {% set totalFP = totalremise + reductotal %}
                <th colspan="2"></th>
                <th>Total de votre commande</th>
                <th></th>
                <th>{{ totalFP|number_format(2, ',', ' ')}} €</th>
                <th></th>
            </tr>
            {% endif %}
            {% endif %}
            </tfoot>
        </table>
    </section>

    {% if app.user %}
    {# Formulaire de commande si connecté #}
    <section id="adressCart" class="mb-5">
        <div class="row">
            <div class="col-6">
                {# formulaire coordonnées user #}
                <h3>Adresse de facturation :</h3>
                <p>
                    Cette adresse sera utilisée pour l'édition de la facture.<br>
                    Cette dernière sera disponible dès réception du paiement et livraison de vos cartes dans votre espace personnel.
                </p>
                <div class="row mb-1 mt-1 g-1 align-items-center">
                    <label for="staticEmail" class="col-sm-3">Destinataire :</label>
                    <div class="col-3">
                        <input class="form-control form-control-sm" type="text" value="{{ user.firstName }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                    <div class="col-4">
                        <input class="form-control form-control-sm" type="text" value="{{ user.lastName }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                </div>
                <div class="row mb-1 mt-1 g-1 align-items-center">
                    <label for="staticEmail" class="col-sm-3">Adresse :</label>
                    <div class="col-7">
                        <input class="form-control form-control-sm" type="text" value="{{ user.adress1 }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-7">
                        <input class="form-control form-control-sm" type="text" value="{{ user.Adress2 }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-3"></div>
                    <div class="col-2">
                        <input class="form-control form-control-sm" type="text" value="{{ user.zipcode }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                    <div class="col-5">
                        <input class="form-control form-control-sm" type="text" value="{{ user.city }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                </div>
                <div class="row mb-1 mt-1 g-1">
                    <label for="staticEmail" class="col-sm-7">Contact téléphonique en cas d'abscence :</label>
                    <div class="col-3">
                        <input class="form-control form-control-sm" type="text" value="{{ user.phoneGsm }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h3>Adresse de livraison :</h3>
                <p>
                    Cette adresse sera utilisée pour l'envoie de vos produit par la poste.<br>
                    Pour ce faire livré ailleur, n'hésitez pas à modifier l'adresse et de préciser un contact téléphonique.
                </p>
                {{ form_start(confirmationForm, {'action': path('op_webapp_purchase_confirm'), 'attr': {'id': 'cart_confirmation'}}) }}
                <div class="row mb-1 mt-1 g-1">
                    <div class="col-3">
                        {{ form_label(confirmationForm.firstName, 'Destinataire :', {'label_attr': {'class':'form-label'}}) }}
                    </div>
                    <div class="col-3">
                        {{ form_widget(confirmationForm.firstName, {'attr': {'class': 'form-control form-control-sm', 'value': user.firstName,'placeholder':'Prénom'}}) }}
                    </div>
                    <div class="col-4">
                        {{ form_widget(confirmationForm.lastName, {'attr': {'class': 'form-control form-control-sm', 'value': user.lastName, 'placeholder':'Nom'}}) }}
                    </div>
                </div>
                <div class="row mb-1 mt-1 g-1">
                    <div class="col-3">
                        {{ form_label(confirmationForm.address, 'Adresse :', {'label_attr': {'class':'form-label'}}) }}
                    </div>
                    <div class="col-7">
                        {{ form_widget(confirmationForm.address, {'attr': {'class': 'form-control form-control-sm', 'value': user.adress1, 'placeholder':'Ligne 1'}}) }}
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-7">
                        {{ form_widget(confirmationForm.complement, {'attr': {'class': 'form-control form-control-sm', 'value': user.Adress2, 'placeholder':'Ligne 2'}}) }}
                    </div>
                    <div class="col-2"></div>
                    <div class="col-3"></div>
                    <div class="col-2">
                        {{ form_widget(confirmationForm.zipcode, {'attr': {'class': 'form-control form-control-sm', 'value': user.zipcode, 'placeholder':'CP'}}) }}
                    </div>
                    <div class="col-5">
                        {{ form_widget(confirmationForm.city, {'attr': {'class': 'form-control form-control-sm', 'value': user.city, 'placeholder':'Commune'}}) }}
                    </div>
                </div>
                <div class="row mb-1 mt-1 g-1">
                    <div class="col-7">
                        {{ form_label(confirmationForm.phoneContact, "Contact téléphonique en cas d'abscence :", {'label_attr': {'class':'form-label'}}) }}
                    </div>
                    <div class="col-3">
                        {{ form_widget(confirmationForm.phoneContact, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'00.00.00.00.00'}}) }}
                    </div>
                </div>
                {{ form_widget(confirmationForm) }}
                {% if app.user %}
                    <button type="submit" class="btn btn-sm btn-success" >Je confirme</button>
                {% endif %}
                {{ form_end(confirmationForm) }}
            </div>
        </div>
    </section>
    {% else %}
    {# En cas d'user non connecté ou non inscrit sur la plateforme #}
    <section id="adressCart" class="mb-5">
        <div class="row mb-2">
        <div class="col-12">
            <p class="text-center">Vous n'êtes pas connecté à la plateforme. Pour finaliser votre commande, veuillez soit vous connecter, soit créer votre compte.
            <br>Cordialement.</p>
        </div>
    </div>
        <div class="row mb-5">
        <div class="col-2 offset-4">
            <a href="{{ path('op_admin_security_login') }}" class="btn btn-sm btn-primary">se connecter</a>
        </div>
        <div class="col-2">
            <a href="{{ path('op_admin_security_register') }}" class="btn btn-sm btn-warning">Créer son compte</a>
        </div>
    </div>
    </section>
    {% endif %}
{% else %}
    <h2>Le panier est vide</h2>
{% endif %}