<nav id="navbar_admin" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('op_admin_dashboard_index') }}"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userpanel" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-desktop"></i> Site
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userpanel">
                        <li><a class="dropdown-item" href="{{ path('op_webapp_page_index') }}"><i class="fas fa-pager"></i> Pages</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_webapp_section_index') }}"><i class="fas fa-puzzle-piece"></i> Sections</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_webapp_article_index') }}"><i class="far fa-file-alt"></i> Articles</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_avis_index') }}"><i class="fas fa-sms"></i> Avis</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userpanel" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-book-open"></i> Catalogue
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userpanel">
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_product_index') }}"><i class="fab fa-product-hunt"></i> Produits</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i> En vente</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userpanel" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-lightbulb"></i> Recommandations
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userpanel">
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_recommandation_index') }}"><i class="fas fa-clipboard-list"></i> Liste des recommandations</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userpanel" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="far fa-calendar-alt"></i> Evènements
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userpanel">
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_event_index') }}"><i class="fab fa-product-hunt"></i> Evènements</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_eventgal_index') }}"><i class="fab fa-product-hunt"></i> Galerie</a></li>
                    </ul>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userpanel" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-tools"></i></i> Outils
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userpanel">
                        <li><a class="dropdown-item" href="{{ path('op_gestapp_adhesion_index') }}"><i class="fas fa-cog"></i> Adhésions</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_structure_index') }}"><i class="fas fa-cog"></i> Structures</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_parameter_index') }}"><i class="fas fa-cog"></i> Paramètres</a></li>
                        <li><a class="dropdown-item" href="{{ path('op_admin_member_index') }}"><i class="fas fa-users-cog"></i> Gestion des utilisateurs</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

