{# Création des boucles pour le menu déroulant à 1 niveau #}
{% set parents = [] %}
{% set childs = [] %}
{% for menu in menus %}
    {% if menu.parent is null %}
        {# Assemblage du tableau en twig #}
        {% set parents = parents|merge([{id: menu.id, name : menu.name, slug: menu.slug}]) %}
    {% endif%}
{% endfor%}
{% for menu in menus %}
    {% if menu.parent is not null %}
        {# Assemblage du tableau en twig #}
        {% set childs = childs|merge([{id: menu.id, name : menu.name, slug: menu.slug, parent: menu.parent }]) %}
    {% endif%}
{% endfor%}
{# Mis en place de la vue #}
<div id="navbar">
    <div id="navbar_large" class="container{% if parameter.isBlocMenuFluid == 1 %}-fluid{% else %}{% endif %} d-lg-block d-none">
        <div class="row">
            <div class="col-3">
                {% if parameter.logoName %}
                    <img class="img-fluid" src="{{ vich_uploader_asset(parameter, 'logoFile') }}" alt="{{ parameter.logoName }}" style="height: 50px;">
                {% else %}
                    <img class="img-fluid" src="{{ asset('images/svg/user.svg') }}" alt="logo_OpenGaia" style="height: 50px;">
                {% endif %}
            </div>
            <div class="col-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler39" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggler39">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('op_webapp_public_homepage')}}"> Accueil</a>
                            </li>
                            {% for parent in parents %}
                                {# Création de la variable pour le dropdown de niveau 1#}
                                {% set dropdown = '' %}
                                {% for child in childs|filter(child => child.parent == parent.id) %}
                                    {% set dropdown = ' dropdown' %}
                                {% endfor %}
                                {# Mise en place des <li> pour le menu #}
                                <li class="nav-item{{ dropdown }}">
                                    {% if dropdown == ' dropdown' %}
                                    <a class="nav-link dropdown-toggle" aria-current="page"  href="{{ path('op_webapp_page_slug', {'slug':parent.slug}) }}" id="navbarDropdown" role="button"  aria-expanded="false">
                                        {{ parent.name }}
                                    </a>
                                    {% else %}
                                    <a class="nav-link" aria-current="page" href="{{ path('op_webapp_page_slug', {'slug':parent.slug}) }}">{{ parent.name }}</a>
                                    {% endif %}
                                    {# Si niveau 1, on ajoute les <ul> suivants #}
                                    {% if dropdown == ' dropdown' %}
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for child in childs|filter(child => child.parent == parent.id) %}
                                        <li><a class="dropdown-item" href="{{ path('op_webapp_page_slug', {'slug':child.slug}) }}">{{ child.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="panier" href="{{ path('op_webapp_cart_showcart')}}">
                                    <i class="fas fa-shopping-cart"></i>
                                    Panier ({{ cartService.detailedCartItem|length }})
                                </a>
                            </li>
                            {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mon Espace
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{path('op_webapp_purchases_index')}}">Mes commandes</a></li>
                                    <li><a class="dropdown-item" href="{{ path('op_admin_security_logout') }}">Se déconnecter</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('op_admin_dashboard_index')}}"><i class="fas fa-unlock-alt"></i> Mon espace</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="navbar_small" class="container{% if parameter.isBlocMenuFluid == 1 %}-fluid{% else %}{% endif %} d-lg-none">
        <div class="row">
            <div class="col-3">
            {% if parameter.logoName %}
                <img class="img-fluid" src="{{ vich_uploader_asset(parameter, 'logoFile') }}" alt="{{ parameter.logoName }}" style="height: 50px;">
            {% else %}
                <img class="img-fluid" src="{{ asset('images/svg/user.svg') }}" alt="logo_OpenGaia" style="height: 50px;">
            {% endif %}
            </div>
            <div class="col-9">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="ms-auto navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler39" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggler39">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('op_webapp_public_homepage')}}"> Accueil</a>
                            </li>
                            {% for parent in parents %}
                                {% set dropdown = '' %}
                                {% for child in childs|filter(child => child.parent == parent.id) %}
                                    {% set dropdown = ' dropdown' %}
                                {% endfor %}
                                <li class="nav-item{{ dropdown }}">
                                    {% if dropdown == ' dropdown' %}
                                        <a class="nav-link dropdown-toggle" href="{{ path('op_webapp_page_slug', {'slug':parent.slug}) }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ parent.name }}
                                        </a>
                                    {% else %}
                                        <a class="nav-link" aria-current="page" href="{{ path('op_webapp_page_slug', {'slug':parent.slug}) }}">{{ parent.name }}</a>
                                    {% endif %}
                                    {% if dropdown == ' dropdown' %}
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for child in childs|filter(child => child.parent == parent.id) %}
                                            <li><a class="dropdown-item" href="{{ path('op_webapp_page_slug', {'slug':child.slug}) }}">{{ child.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="panier" href="{{ path('op_webapp_cart_showcart')}}">
                                    <i class="fas fa-shopping-cart"></i>
                                    Panier ({{ cartService.total|number_format(2, ',', ' ') }})
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="panier" href="{{ path('op_webapp_purchases_index')}}">
                                    <i class="fas fa-shopping-cart"></i>
                                    Commandes
                                </a>
                            </li>
                            {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Mon Espace
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ path('op_webapp_purchases_index')}}">Mes commandes</a></li>
                                    <li><a class="dropdown-item" href="{{ path('op_admin_security_logout') }}">Se déconnecter</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('op_admin_dashboard_index')}}"><i class="fas fa-unlock-alt"></i> Mon espace</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
{% if route == 'op_webapp_public_homepage' %}
{% if parameter.sectionHome == 1 %}
<div id="header_home">
    <div id="bloc_prez" class="container" data-aos="fade-up">
        <div class="row">
            <div id="overlay_logo" class="col-md-6 offset-md-3 d-none d-md-block">
                <p class="text-start"><img class="img-fluid" src="{{ asset('images/logosite_front/logo-fondblanc-614610a0b4fc4229405629.png') }}" alt="carte_de_priere" height="200px"> </p>
            </div>
        </div>
    </div>
    <div id="bloc_production3" class="container" data-aos="fade-down">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a href="#calligraphie" class="btn btn-light">Calligraphies</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a type="button" class="btn btn-light" href="#aquarelles">Aquarelles</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a href="#sanctuaires" class="btn btn-light">Sanctuaires</a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <a type="button" class="btn btn-light" href="#artisanats">Artisanats</a>
            </div>

        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endif %}
