{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('admin/member/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('admin/member/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des articles</h4>
                        <p>Créer, Modifier ou supprimer des articles du site</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Membre</th>
                                    <th>Rôles</th>
                                    <th>PhoneDesk</th>
                                    <th>PhoneGsm</th>
                                    <th>Email</th>
                                    <th>CreatedAt</th>
                                    <th>UpdatedAt</th>
                                    <th>IsVerified</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for member in members %}
                                <tr>
                                    <td>{{ member.firstName }} {{ member.lastName }}</td>
                                    <td>{{ member.roles ? member.roles|json_encode : '' }}</td>
                                    <td>{{ member.phoneDesk }}</td>
                                    <td>{{ member.phoneGsm }}</td>
                                    <td>{{ member.email }}</td>
                                    <td>{{ member.createdAt ? member.createdAt|format_datetime('medium', 'none', locale='fr') }}</td>
                                    <td>{{ member.updatedAt ? member.updatedAt|format_datetime('medium', 'none', locale='fr') }}</td>
                                    <td>
                                        {{ member.isVerified ? '<p class="text-success"><i class="far fa-check-circle"></i></p>' : '<p class="text-danger"><i class="far fa-times-circle"></i></p>' }}
                                    </td>
                                    <td>
                                        <a href="{{ path('op_admin_member_show', {'id': member.id}) }}">show</a>
                                        <a href="{{ path('op_admin_member_edit', {'id': member.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="16">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('op_admin_member_new') }}">Ajouter un nouveau membre</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
