{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="container">
        <div id="section_title">
            <div class="row">
                 <div class="col-12">
                     <div class="d-flex justify-content-between">
                         <div>
                             <h1>{{ member.structure }}</h1>
                         </div>
                         <div class="d-flex flex-row">
                             {% if member.urlWeb is null %}
                                 <h1><a href="#" class="isdisabled"><i class="fas fa-globe-europe"></i></a></h1>&nbsp;&nbsp;
                             {% else %}
                                 <h1><a href="{{ member.urlWeb }}" onclick="window.open(this.href); return false;"><i class="fas fa-globe-europe"></i></a></h1>&nbsp;&nbsp;
                             {% endif %}

                             {% if member.Facebook is null %}
                                 <h1><a href="#" class="isdisabled"><i class="fab fa-facebook"></i></a></h1>&nbsp;&nbsp;
                             {% else %}
                                 <h1><a href="{{ member.Facebook }}" onclick="window.open(this.href); return false;"><i class="fab fa-facebook"></i></a></h1>&nbsp;&nbsp;
                             {% endif %}

                             {% if member.Instagram is null %}
                                 <h1><a href="#" class="isdisabled"><i class="fab fa-instagram"></i></a></h1>&nbsp;&nbsp;
                             {% else %}
                                 <h1><a href="{{ member.Instagram }}" onclick="window.open(this.href); return false;"><i class="fab fa-instagram"></i></a></h1>&nbsp;&nbsp;
                             {% endif %}

                             {% if member.Linkedin is null %}
                                 <h1><a href="#" class="isdisabled"><i class="fab fa-linkedin"></i></a></h1>&nbsp;&nbsp;
                             {% else %}
                                 <h1><a href="{{ member.Linkedin }}" onclick="window.open(this.href); return false;"><i class="fab fa-linkedin"></i></a></h1>&nbsp;&nbsp;
                             {% endif %}
                         </div>
                     </div>
                 </div>
            </div>

        </div>
        <div id="section_content">
            <div class="row">
                <div class="col-12">
                    <p>{{ member.description|raw }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
