{% extends 'admin.html.twig' %}

{% block title %}Member{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('webapp/page/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('webapp/page/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Identifiant</th>
                                        <td>{{ member.username }}</td>
                                    </tr>
                                    <tr>
                                        <th>Prénom & Nom</th>
                                        <td>{{ member.firstName }} {{ member.lastName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ member.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Roles</th>
                                        <td>{{ member.roles ? member.roles|json_encode : '' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-4">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>
                                            {{ member.adress1 }}<br>{{ member.Adress2 }}<br>{{ member.zipcode }} {{ member.city }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contacts</th>
                                        <td>{{ member.phoneDesk }} / {{ member.phoneGsm }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-4">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>CreatedAt</th>
                                        <td>{{ member.createdAt ? member.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>UpdatedAt</th>
                                        <td>{{ member.updatedAt ? member.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>IsVerified</th>
                                        <td>{{ member.isVerified ? 'Yes' : 'No' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="{{ path('op_admin_member_index') }}">back to list</a>
                        <a href="{{ path('op_admin_member_edit', {'id': member.id}) }}">edit</a>
                        {{ include('admin/member/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>






{% endblock %}
