{% extends 'admin.html.twig' %}

{% block title %}Member{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            ClassicEditor
                .create(document.querySelector('#structure_description'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote', 'indent', 'alignment', 'code', 'CodeBlock', 'Underline', 'HtmlEmbed' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });

            function onClickBtnAddStructure(event){
                event.preventDefault();
                const name = document.getElementById("structure_name").value;
                const firstName = document.getElementById("structure_respFirstName").value;
                const lastName = document.getElementById("structure_respLastName").value;
                const address = document.getElementById("structure_address").value;
                const complement = document.getElementById("structure_complement").value;
                const phoneDesk = document.getElementById("structure_phoneDesk").value;
                const phoneGsm = document.getElementById("structure_phoneGsm").value;
                const email = document.getElementById("structure_EmailStruct").value;
                const urlWeb = document.getElementById("structure_urlWeb").value;
                const urlFacebook = document.getElementById("structure_urlFacebook").value;
                const urlInstagram = document.getElementById("structure_urlInstagram").value;
                const urlLinkedin = document.getElementById("structure_urlLinkedin").value;
                const firstActivity = document.getElementById("structure_FirstActivity").value;
                const secondActivity = document.getElementById("structure_secondActivity").value;
                const projectDev = document.getElementById("structure_projectDev").value;
                console.log(name, firstName, lastName);
            }

            // appel de la fonction de soumission du formulaire add structure
            document.querySelectorAll('a.js-add-struct').forEach(function (link){
                link.addEventListener('click', onClickBtnAddStructure);
            })
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('admin/member/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('admin/member/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Profil de : {{ member.firstName }} {{ member.lastName }}</h4>
                        <p>Sur cette page vous pouvez voir et modifier les informations vous concernant.</p>
                        <div class="row">
                            <div class="col-2">
                                {% if member.avatarName is null %}
                                <img class="img-fluid" src="{{ asset('images/svg/user.svg') }}" alt="sans_avatar">
                                {% else %}
                                <img class="img-fluid" src="{{ vich_uploader_asset(member) }}" alt="{{ member.avatarName }}">
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <table class="table">
                                    <tbody class="align-middle">
                                    <tr>
                                        <th>Identifiant</th>
                                        <td>{{ member.username }}</td>
                                    </tr>
                                    <tr>
                                        <th>Prénom & Nom</th>
                                        <td>{{ member.firstName }} {{ member.lastName }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ member.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Roles</th>
                                        <td>{{ member.roles ? member.roles|json_encode : '' }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>
                                            {{ member.adress1 }}<br>{{ member.Adress2 }}<br>{{ member.zipcode }} {{ member.city }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contacts</th>
                                        <td>{{ member.phoneDesk }} / {{ member.phoneGsm }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Créé le</th>
                                        <td>{{ member.createdAt ? member.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Mise à jour</th>
                                        <td>{{ member.updatedAt ? member.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse vérifiée le</th>
                                        <td>
                                            {% if member.isVerified == 1  %}
                                                <i class="far fa-check-circle text-success"></i>
                                            {% elseif member.isVerified == 0 %}
                                                <i class="far fa-times-circle text-danger"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if member.structure is null %}
                            {{ render(controller('App\\Controller\\Admin\\StructureController::new', {'idmembre': member.id})) }}
                        {% else %}
                            {{ render(controller('App\\Controller\\Admin\\StructureController::edit', {'id': member.structure})) }}
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary btn-sm" href="{{ path('op_admin_member_index') }}">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
