<div class="col-12">
    <table class="table table-hover">
        <thead>
        <tr>
            {% if hide == 0 %}
                <th></th>
            {% else %}
            {% endif %}
            <th>Recommandation</th>
            {% if hide == 0 %}<th>Description</th>{% endif %}
            <th>Client</th>
            <th>Contacts</th>
            <th>Estimation</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recommandation in recommandations %}
        <tr {%  if recommandation.isRead == 0 %}class="table-active"{% endif %}>
            {% if hide == 0 %}
                <td><input type="checkbox"></td>
            {% else %}
            {% endif %}
            <td>
                {{ recommandation.name }}
                {% if recommandation.recostate == 'noRead' %}
                    <span class="badge bg-warning">Non lue</span>
                {% elseif recommandation.recostate == 'InProgress'%}
                    <span class="badge bg-info">En cours</span>
                {% elseif recommandation.recostate == 'Valid'%}
                    <span class="badge bg-success">Validée</span>
                {% elseif recommandation.recostate == 'Avort'%}
                    <span class="badge bg-danger">Sans suite</span>
                {% endif %}
            </td>
            {% if hide == 0 %}<td>{{ recommandation.description }}</td>{% endif %}
            <td>{{ recommandation.clientFirstname }} {{ recommandation.clientLastname }}</td>
            <td>
                {% if recommandation.ClientDesk is not null %}
                    {{ recommandation.ClientDesk }}
                {% elseif recommandation.ClientDesk is not null and recommandation.ClientEmail is null and recommandation.clientGsm is not null %}
                    {{ recommandation.ClientDesk }} / {{ recommandation.clientGsm }}
                {% elseif recommandation.ClientDesk is not null and recommandation.ClientEmail is not null and recommandation.clientGsm is null %}
                    {{ recommandation.ClientEmail }} / {{ recommandation.ClientDesk }}
                {% else %}
                    {{ recommandation.ClientEmail }} / {{ recommandation.ClientDesk }} / {{ recommandation.clientGsm }}
                {% endif %}
            </td>
            <td>
                {% if recommandation.recoPrice is null %}Non déterminé{% else %}{{ recommandation.recoPrice }}€{% endif %}</td>
            <td>
                <a href="{{ path('op_Gestapp_recommandation_show', {'id': recommandation.id}) }}"><i class="far fa-eye"></i></a>
                {% if hide == 0 %}
                <a href="{{ path('op_Gestapp_recommandation_edit', {'id': recommandation.id}) }}"><i class="far fa-edit"></i></a>
                <a href="#" class="js-modalSuppr text-danger" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ recommandation.id }}">
                    <i class="bi bi-eraser text-danger"></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="18">no records found</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>