{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('webapp/page/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('webapp/page/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>nom</th>
                                    <th>Slug</th>
                                    <th>State</th>
                                    <th>Tags</th>
                                    <th>PublishAt</th>
                                    <th>PublishEnd</th>
                                    <th>IsMenu</th>
                                    <th>IsPublish</th>
                                    <th>CreateAt</th>
                                    <th>UpdateAt</th>
                                    <th>actions</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for page in pages %}
                                <tr>
                                    <td>{{ page.name }}</td>
                                    <td>{{ page.slug }}</td>
                                    <td>{{ page.state }}</td>
                                    <td>{{ page.tags ? page.tags|join(', ') : '' }}</td>
                                    <td>{{ page.publishAt ? page.publishAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ page.dispublishAt ? page.dispublishAt|date('Y-m-d') : '' }}</td>
                                    <td>
                                        {% if page.ismenu == 1 %}
                                            <a class="text-success js-menu" href="#"><i class="far fa-check-circle"></i></a>
                                        {% else %}
                                            <a class="text-danger js-menu" href="#"><i class="far fa-times-circle"></i></a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if page.isPublish == 1 %}
                                            <a class="text-success js-publish" href="#"><i class="far fa-check-circle"></i></a>
                                        {% else %}
                                            <a class="text-danger js-publish" href="#"><i class="far fa-times-circle"></i></a>
                                        {% endif %}
                                    </td>
                                    <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    <td>
                                        <a href="{{ path('op_webapp_page_show', {'id': page.id}) }}">show</a>
                                        <a href="{{ path('op_webapp_page_edit', {'id': page.id}) }}">edit</a>
                                    </td>

                                    <th>
                                        <a href="#" class="text-primary"><i class="fas fa-long-arrow-alt-up"></i></a>  <a href="#" class="text-primary"><i class="fas fa-long-arrow-alt-down"></i></a>
                                    </th>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


    




{% endblock %}
