{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('webapp/page/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('webapp/page/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nom</th>
                                    <th>Etat</th>
                                    <th>Sections</th>
                                    <th>IsMenu</th>
                                    <th>IsPublish</th>
                                    <th>Créer le</th>
                                    <th>Mise à jour</th>
                                    <th>actions</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for page in pages %}
                                <tr>
                                    <td><input type="checkbox" value="{{ page.id }}"></td>
                                    <td>{{ page.name }} (<small class="text-dark">{{ page.slug }}</small>)</td>
                                    <td>{{ page.state }}</td>
                                    <td>{{ page.section|length }}</td>
                                    <td>
                                        {% if page.ismenu == 1 %}
                                            <a class="js-menu" href="{{path('op_webapp_page_menu', {'id' : page.id})}}"><i class="far fa-check-circle text-success"></i></a>
                                        {% else %}
                                            <a class="js-menu" href="{{path('op_webapp_page_menu', {'id' : page.id})}}"><i class="far fa-times-circle text-danger"></i></a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if page.isPublish == 1 %}
                                            <a class="js-publish" href="{{ path('op_webapp_page_publish', {'id': page.id}) }}"><i class="far fa-check-circle text-success"></i></a>
                                        {% else %}
                                            <a class="js-publish" href="{{ path('op_webapp_page_publish', {'id': page.id}) }}"><i class="far fa-times-circle text-danger"></i></a>
                                        {% endif %}
                                    </td>
                                    <td>{{ page.createdAt ? page.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    <td>{{ page.updatedAt ? page.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    <td>
                                        <a href="{{ path('op_webapp_page_show', {'id': page.id}) }}">voir</a>
                                        <a href="{{ path('op_webapp_page_edit', {'id': page.id}) }}">Modifier</a>
                                    </td>

                                    <th>
                                        <a href="#" class="text-primary"><i class="fas fa-long-arrow-alt-up"></i></a>  <a href="#" class="text-primary"><i class="fas fa-long-arrow-alt-down"></i></a>
                                    </th>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // Construction de la fonction OnClickBtnMenu
        function onClickBtnMenu(event){
            event.preventDefault();
            const url = this.href;                                          // variable qui récupère l'url inclus dans le "this"
            const icone = this.querySelector('i');                          // variable qui sélectionne l'élément balise <i></i>
            axios
                .get(url)
                .then(function(response) {
                    if(icone.classList.contains('fa-check-circle')) {
                        icone.classList.replace('fa-check-circle', 'fa-times-circle');
                        icone.classList.replace('text-success', 'text-danger');
                    }
                    else {
                        icone.classList.replace('fa-times-circle', 'fa-check-circle');
                        icone.classList.replace('text-danger', 'text-success');
                    };
                });
            }

        function onClickBtnPublish(event){
            event.preventDefault();
            const url2 = this.href;                                          // variable qui récupère l'url inclus dans le "this"
            const icone2 = this.querySelector('i');
            axios
                .get(url2)
                .then(function(response) {
                    if(icone2.classList.contains('fa-check-circle')) {
                        icone2.classList.replace('fa-check-circle', 'fa-times-circle');
                        icone2.classList.replace('text-success', 'text-danger');
                    }
                    else {
                        icone2.classList.replace('fa-times-circle', 'fa-check-circle');
                        icone2.classList.replace('text-danger', 'text-success');
                    };
                });
        }

        // Appel de la fonction lors du clic sur le bouton Ismenu
        document.querySelectorAll('a.js-menu').forEach(function (link){
            link.addEventListener('click', onClickBtnMenu);
        })

        // Appel de la fonction lors du clic sur le bouton Ismenu
        document.querySelectorAll('a.js-publish').forEach(function (link){
            link.addEventListener('click', onClickBtnPublish);
        })
    </script>

{% endblock %}
