{% extends 'base.html.twig' %}

{% block title %}
    {% if not page.title %}
        {{ page.name }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/filtersWebapp.js') }}"></script>
    {# <script type="module" src="{{ asset('js/filtersnature.js') }}"></script>#}
{% endblock %}

{% block content %}
    {% if page is empty %}
    {% else %}
        <header id="page-title">
            <div class="container">
            {% if page.isTitle == 1 %}
                <div class="row">
                    <div class="col">
                        <h1 class="title">{{ page.name }}</h1>
                    </div>
                </div>
            {% endif %}
            {% if page.isDescription == 1 %}
                <div class="row">
                    <div class="col">
                        <p>{{ page.description }}</p>
                    </div>
                </div>
            {% endif %}
            </div>
        </header>
        {{ render(controller('App\\Controller\\Webapp\\SectionController::frontbypage', {'id' : page.id})) }}
    {% endif %}
{% endblock %}