{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
{% if not sections %}
    <header id="page-title">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center title">{{ parameter.nameSite }}</h1>
                    <p class="text-center">Bienvenue sur notre site.<br></p>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('images/articles_front/flowRoot852.png') }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/articles_front/INVIT_1ERJUILLET_CAPBRETON.jpg') }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('images/articles_front/bienvenue-a-tous-inauguration-24-juin-2021-60d354d73b232153558429.png') }}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="text-center">
                    <img class="img-fluid" src="{{ asset('images/png/carte_de_visite_recto.png') }}">
                </p>
            </div>
            <div class="col-6">
                <p class="text-center">
                    <img class="img-fluid" src="{{ asset('images/png/carte_de_visite_verso.png') }}">
                </p>
            </div>

        </div>
    </section>
{% else %}
    {% for section in sections %}
    <header id="page-title">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="title">{{ parameter.nameSite }}</h1>
                    <p>Bienvenue sur notre site.<br>Ce dernier est propulsé par le CMS OpenGAIA, développé par OpenPixl sous Symfony.</p>
                </div>
            </div>
        </div>
    </header>
    {% include('webapp/section/include/_onesection.html.twig') %}
    {% endfor %}
{% endif %}
{% endblock %}
