    <h4>Liste des sections de la page {{ element.name }}</h4>
    <p>Dans cet espace, vous pouvez ajouter/supprimer les différentes sections composants cette dernière.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th class="text-center">Mise en avant</th>
                <th class="text-center">Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.title }}</td>
                <td>{{ section.description }}</td>
                <td class="text-center">
                    {% if section.favorites == 0 %}
                        <p class="card-text"><a class="js-star" href="{{ path('op_webapp_section_star', {'id': section.id}) }}"><i class="far fa-star text-warning"></i></a></p>
                    {% else %}
                        <p class="card-text"><a class="js-star" href="{{ path('op_webapp_section_star', {'id': section.id}) }}"><i class="fas fa-star text-warning"></i></a></p>
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ section.contentType }}
                </td>
                <td>
                    <a href="{{ path('op_webapp_section_show', {'id': section.id}) }}"><i class="far fa-eye"></i></a>&nbsp;&nbsp;
                    <a href="{{ path('op_webapp_section_edit', {'id': section.id}) }}"><i class="far fa-edit"></i></a>&nbsp;&nbsp;
                    <a class="js-del-section text-danger" href="{{ path('op_webapp_section_del', {'id':section.id}) }}"><i class="fas fa-eraser"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

