{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration - site{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('webapp/section/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('webapp/section/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des sections</h4>
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>AttrId</th>
                                        <th>AttrName</th>
                                        <th>AttrClass</th>
                                        <th>CreateAt</th>
                                        <th>UpdateAt</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for section in sections %}
                                    <tr class="align-middle">
                                        <td>{{ section.id }}</td>
                                        <td>{{ section.title }}<br><small>{{ section.slug }}</small></td>
                                        <td>{{ section.description }}</td>
                                        <td>{{ section.attrId }}</td>
                                        <td>{{ section.attrName }}</td>
                                        <td>{{ section.attrClass }}</td>
                                        <td>{{ section.createdAt ? section.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                        <td>{{ section.updatedAt ? section.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                        <td>
                                            <a href="{{ path('op_webapp_section_show', {'id': section.id}) }}">show</a>
                                            <a href="{{ path('op_webapp_section_edit', {'id': section.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

