{% extends 'admin.html.twig' %}

{% block title %}OpenGaia | Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        window.onload = function(){
            const OneArticle = document.getElementById('One_article');
            const OneNatProduct = document.getElementById('One_Nat_Product');
            const SelectValue = document.getElementById('section_contentType').value;

            if (SelectValue == 'One_article'){
                OneArticle.style.display="block";
                OneNatProduct.style.display="none";
            }else if (SelectValue == 'One_Nat_Product'){
                OneArticle.style.display="none";
                OneNatProduct.style.display="block";
            }else{
                OneArticle.style.display="none";
                OneNatProduct.style.display="none";
            }

            document.getElementById("section_contentType").addEventListener("change", ShowDiv, false);

            // affiche le champs "Choix d'un article si Content = One_Article
            function ShowDiv(){
                const getSelect = document.getElementById('section_contentType').value;
                if (getSelect == 'One_article'){
                    OneArticle.style.display="block";
                    OneNatProduct.style.display="none";
                }else if (getSelect == 'One_Nat_Product'){
                    OneArticle.style.display="none";
                    OneNatProduct.style.display="block";
                }else{
                    OneArticle.style.display="none";
                    OneNatProduct.style.display="none";
                }
            }

        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('webapp/section/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('webapp/section/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <h3>Créer une section</h3>
                    </div>
                    {{ include('webapp/section/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

