{% extends 'admin.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('admin/structure/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('admin/structure/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des structure : Entreprise, société, ...</h4>
                        <p>Créer, Modifier ou supprimer des membre du site.</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Structure</th>
                                    <th>Gérant</th>
                                    <th>Adressse</th>
                                    <th>Site web</th>
                                    <th>Email</th>
                                    <th>Bureau</th>
                                    <th>Mobile</th>
                                    <th>Crée le</th>
                                    <th>Modifiée le</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for structure in structures %}
                                <tr>
                                    <td>{{ structure.name }}</td>
                                    <td>{{ structure.respFirstName }} {{ structure.respLastName }}</td>
                                    <td>
                                        {{ structure.address }}<br>
                                        {{ structure.complement }}<br>
                                        {{ structure.zipcode }} {{ structure.city }}
                                    </td>
                                    <td>{{ structure.urlWeb }}</td>
                                    <td>{{ structure.EmailStruct }}</td>
                                    <td>{{ structure.phoneDesk }}</td>
                                    <td>{{ structure.phoneGsm }}</td>
                                    <td>{{ structure.createdAt ? structure.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    <td>{{ structure.updatedAt ? structure.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    <td>
                                        <a href="{{ path('op_admin_structure_show', {'id': structure.id}) }}">show</a>
                                        <a href="{{ path('op_admin_structure_edit2', {'id': structure.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-primary" href="{{ path('op_admin_structure_new2') }}">Ajouter une nouvelle structure</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
