{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
    <script>
        window.onload = function(){

            // mise en place du datapicker flatpickr sur les champs de date
            flatpickr(".flatpickr", {
                "locale": "fr",
                enableTime: true,
                altFormat: "j F Y",
                dateFormat: "d-m-Y",
            });

            // Soumission du fomrulaire ajout d'une annonce
            function onClickAddAnnonceSubmit(event){
                event.preventDefault();
                const url = '/opadmin/annonce/newaxios';
                const title = document.getElementById('annonce_title').value;
                const content = document.getElementById('annonce_content').value;
                const publishAt = document.getElementById('annonce_publishAt').value;
                const dispublishAt =document.getElementById('annonce_dispublishAt').value;
                axios
                    .post(url, {title:title, content:content, publishAt:publishAt, dispublishAt:dispublishAt})
                    .then(function (response){
                        // préparation du toaster
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };
                        // initialisation du toaster
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastHeader = toastHTMLElement.querySelector('.toast-header');
                        var toastBody = toastHTMLElement.querySelector('.toast-body'); // selection de l'élément possédant le message
                        toastHeader.textContent = 'Annonce'
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                        // reset des inputs

                    })
                    .catch(function(error){
                            console.log(error);
                        })
                }

            // évènement sur le clic d'envoie formulaire
            document.querySelectorAll('a.js-add-annonce').forEach(function(link){
                link.addEventListener('click', onClickAddAnnonceSubmit)
            })
        }
    </script>
{% endblock %}

{% block content %}
<section id="infos" class="container-fluid">
    <div class="row">
        <div class="col-12 mt-xl-4 mb-xl-4">
            <h2>TABLEAU DE BORD</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
            <div class="card border-info bg-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-light">
                                <i class="bi bi-people-fill avatar-title"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-end">
                                <h2 class="text-white mt-2">{{ members|length }}</h2>
                                <p class="text-white mb-0">Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
            <div class="card border-info bg-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="avatar-lg rounded-circle bg-soft-light">
                                <i class="bi bi-bag-check-fill avatar-title"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="text-end">
                                <h2 class="text-white mt-2">{{ purchases|length }}</h2>
                                <p class="text-white mb-0">Commandes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 col-xl2">
            <div class="card border-primary">
                <div class="card-body">
                    <h3>{{ events|length }} Evènements</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 col-xl-2">
            <div class="card border-primary">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div><h3>{{ events|length }} Annonces</h3></div>
                        <div class="align-self-center"><a data-bs-toggle="modal" data-bs-target="#Add"><i class="bi bi-plus-circle" style="font-size: 1.5rem;"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-2 col-xl2">
            <div class="card border-primary">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div><h3>{{ messages|length }} Messages</h3></div>
                        <div class="align-self-center"><a data-bs-toggle="modal" data-bs-target="#Add"><i class="bi bi-plus-circle" style="font-size: 1.5rem;"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <button class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#Receipt" type="button" role="tab" aria-controls="Receipt" aria-selected="true">
                                RE&#xc7;UES
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#Send" type="button" role="tab" aria-controls="Send" aria-selected="true">
                                ENVOY&#201;ES
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Receipt" role="tabpanel" aria-labelledby="home-tab">
                            {{ render(controller('App\\Controller\\Gestapp\\Purchase\\PurchasesListController::byUserReceipt', {'hide':1})) }}
                        </div>
                        <div class="tab-pane" id="Send" role="tabpanel" aria-labelledby="home-tab">
                            {{ render(controller('App\\Controller\\Gestapp\\Purchase\\PurchasesListController::byUserSend', {'hide':1} )) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{ render(controller('App\\Controller\\Gestapp\\RecommandationController::compilUser')) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
