<div id="SlideEvent" class="carousel slide carousel-fade border-large" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-inner border-sm">
        <div class="carousel-indicators">
            {% for event in events %}
            <button type="button" data-bs-target="#SlideEvent" data-bs-slide-to="{{ loop.index - 1 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index}}"></button>
            {% endfor %}
        </div>
        {% for event in events %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            {% if event.visuelName is not null %}
            <img src="{{ vich_uploader_asset(event, 'visuelFile', 'App\\Entity\\Gestapp\\Event')|imagine_filter('prez_event') }}" class="d-block" alt="{{ event.name }}" style="height:500px">
            {% else %}
            <img src="{{ asset('images/png/Modèle_Evenement.png')}}" alt="..." style="height:500px">
            {% endif %}
            <div class="carousel-caption d-md-block">
                <div class="row">
                    <div class="col-5 d-none d-lg-block">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 ">
                        <h2 class="mt-5">{{ event.name }}</h2>
                        <p class="text-center">
                            <img src="{{asset('images/svg/Fleches.svg')}}" alt="">
                        </p>
                        <h3 class="text-capitalize-h">le {{ event.eventAt|format_datetime('medium', 'none', locale='fr') }} à partir de {{ event.eventtimeAt|date('H:i') }}</h3>
                        <p>{{ event.description|raw }}</p>
                        <div class="place-event m-3">
                            <p class="text-center">{{ event.placeAddress}}<br>{{ event.placeComplement}}<br>{{ event.placeZipcode}} {{ event.placeCity }}</p>
                            <p class="text-center">
                                <img src="{{asset('images/svg/Fleches.svg')}}" alt="">
                            </p>
                        </div>
                        <div class="follow-event">
                            <p>Informations & contact :</p>
                            <p>Nous suivre sur :
                                <a href="#"><i class="bi bi-facebook text-light"></i></a>
                                <a href="#"><i class="bi bi-instagram text-light"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="carousel-item active">

            <img src="{{ asset('images/png/Modèle_Evenement.png')}}" alt="..." style="height:500px">

            <div class="carousel-caption d-md-block">
                <div class="row">
                    <div class="col-5 d-none d-lg-block">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 ">
                        <h2 class="mt-5">JUST à FAIRE</h2>
                        <p class="text-center">
                            <img src="{{asset('images/svg/Fleches.svg')}}" alt="">
                        </p>
                        <h3 class="text-capitalize-h">Très prochainement</h3>
                        <p>Vous pourrez participer à l'un de nos évènements.<br>En attendant retrouvez toute l'actualité du réseau JUST à FAIRE sur les réseaux.</p>
                        <div class="place-event m-3">
                            <p class="text-center"><br><br></p>
                            <p class="text-center">
                                <img src="{{asset('images/svg/Fleches.svg')}}" alt="">
                            </p>
                        </div>
                        <div class="follow-event">
                            <p>Nous suivre sur :
                                <a href="#"><i class="bi bi-facebook text-light"></i></a>
                                <a href="#"><i class="bi bi-instagram text-light"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
