{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Event</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ event.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>IsPublish</th>
                <td>{{ event.isPublish ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsValidBy</th>
                <td>{{ event.isValidBy ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gest_app_event_index') }}">back to list</a>

    <a href="{{ path('gest_app_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('gest_app_event/_delete_form.html.twig') }}
{% endblock %}
