<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        <div class="row gutters">
            <div class="col-2">
                <img src="{{ absolute_url(asset('images/home_front/LOGO-fondblanc.png')) }}" alt="" class="img-fluid">
            </div>
            <div class="col-10">

            </div>
        </div>
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="invoice-container">
                    {# entête de facture #}
                    <div class="invoice-header">
                        <!-- Row start -->
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <a href="index.html" class="invoice-logo">
                                    Bootdey.com
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <address class="text-right">
                                    Maxwell admin Inc, 45 NorthWest Street.<br>
                                    Sunrise Blvd, San Francisco.<br>
                                    00000 00000
                                </address>
                            </div>
                        </div>
                        <!-- Row end -->
                        <!-- Row start -->
                        <div class="row gutters">
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <p><strong>Adresse de facturation</strong></p>
                                    </div>
                                    <div class="card-body">
                                        <div class="invoice-details">
                                            <address>
                                                <strong>{{ purchase.firstNameF }} {{ purchase.lastNameF }}</strong><br>
                                                {{ purchase.addressF }}<br>
                                                {% if purchase.complementF %}
                                                {{ purchase.complementF }}<br>
                                                {% endif %}
                                                {{ purchase.zipcodeF }} {{ purchase.cityF }}
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <p><strong>Adresse de livraison</strong></p>
                                    </div>
                                    <div class="card-body">
                                        <div class="invoice-details">
                                            <address>
                                                <strong>{{ purchase.firstNameL }} {{ purchase.lastNameL }}</strong><br>
                                                {{ purchase.addressL }}<br>
                                                {% if purchase.complementL %}
                                                    {{ purchase.complementL }}<br>
                                                {% endif %}
                                                {{ purchase.zipcodeL }} {{ purchase.cityL }}
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4"></div>
                        </div>
                        <!-- Row end -->
                        <!-- Row start -->
                        <div class="row gutters">
                            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">

                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                                <div class="invoice-details">
                                    <div class="invoice-num">
                                        <div>Invoice - #009</div>
                                        <div>January 10th 2020</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row end -->
                    </div>
                    {# Corps de facture #}
                    <div class="invoice-body">
                        <div class="card">
                            <div class="card-body p-0">
                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table custom-table m-0">
                                                <thead>
                                                <tr>
                                                    <th>Items</th>
                                                    <th>Product ID</th>
                                                    <th>Quantity</th>
                                                    <th>Sub Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        Wordpress Template
                                                        <p class="m-0 text-muted">
                                                            Reference site about Lorem Ipsum, giving information on its origins.
                                                        </p>
                                                    </td>
                                                    <td>#50000981</td>
                                                    <td>9</td>
                                                    <td>$5000.00</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Maxwell Admin Template
                                                        <p class="m-0 text-muted">
                                                            As well as a random Lipsum generator.
                                                        </p>
                                                    </td>
                                                    <td>#50000126</td>
                                                    <td>5</td>
                                                    <td>$100.00</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Unify Admin Template
                                                        <p class="m-0 text-muted">
                                                            Lorem ipsum has become the industry standard.
                                                        </p>
                                                    </td>
                                                    <td>#50000821</td>
                                                    <td>6</td>
                                                    <td>$49.99</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td colspan="2">
                                                        <p>
                                                            Subtotal<br>
                                                            Shipping &amp; Handling<br>
                                                            Tax<br>
                                                        </p>
                                                        <h5 class="text-success"><strong>Grand Total</strong></h5>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            $5000.00<br>
                                                            $100.00<br>
                                                            $49.00<br>
                                                        </p>
                                                        <h5 class="text-success"><strong>$5150.99</strong></h5>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row end -->
                            </div>
                        </div>
                    </div>
                    {# Pied de facture #}
                    <div class="invoice-footer">
                        <div class="row">
                            <div class="col-12">
                                <hr>
                                <p class="text-center">
                                    Cartes de Prières - Maria Bambina - 8, rue du midi
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </body>
</html>


