<div class="col-12">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Commande</th>
            <th>Client</th>
            {% if hide == 0 %}
            <th>Adresse de livraison</th>
            {% endif %}
            <th>Dépot</th>
            {% if hide == 0 %}
            <th>Détails</th>
            {% endif %}
            <th>Total</th>
            <th>Progression</th>
            {% if hide == 0 %}
            <th>Etat</th>
            {% endif %}
            {% if hide == 0 %}
            <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for p in purchases %}
            <tr>
                <th>{{p.id}}</th>
                <td>{{p.numPurchase}}</td>
                <td>{{ p.firstName }} {{ p.lastName }}</td>
                {% if hide == 0 %}
                <td>{{p.address}}<br>{{p.zipcode}} {{p.city}}</td>
                {% endif %}
                <td>{{p.purchasedAt|format_datetime('medium', 'none', locale='fr')}}</td>
                {% if hide == 0 %}
                <td>
                    {% for i in p.purchaseItems %}
                    <ul>
                        <li>{{ i.productQty }} x {{ i.productName }} ({{ i.productPrice }}€) - {{ i.totalItem }}€</li>
                    </ul>
                    {% endfor %}
                </td>
                {% endif %}
                <td>{{p.total}} €</td>

                {# Affiche l'état de la commande sur le frontOffice et non dans la partie admin #}
                {% if app.request.attributes.get('_route') == 'op_webapp_purchases_index' %}
                <td>
                    {% if p.status == 'PENDING' %}En attente{% endif %}
                    {% if p.status == 'PREPARED' %}En cours de préparation{% endif %}
                    {% if p.status == 'FINALISED' %}Cartes finalisée{% endif %}
                    {% if p.status == 'DELIVERED' %}En cours de Livraison{% endif %}
                    {% if p.status == 'CANCELLED' %}Annulé{% endif %}
                </td>
                {% else %}
                {# Affiche le select seulement dans l'espace admin #}
                <td>
                    <form id="purchase">
                    <input id="idpurchase" name="idpurchase" type="hidden" value="{{p.id}}">
                    <select id="statusPurchases" class="form-select form-select-sm statusPurchases" aria-label="Default select example">
                        <option value="PENDING" {% if p.status == 'PENDING' %}selected{% endif %}>En attente</option>
                        <option value="PREPARED" {% if p.status == 'PREPARED' %}selected{% endif %}>En cours de préparation</option>
                        <option value="FINALISED" {% if p.status == 'FINALISED' %}selected{% endif %}>Cartes finalisées</option>
                        <option value="DELIVERED" {% if p.status == 'DELIVERED' %}selected{% endif %}>En cours de Livraison</option>
                        <option value="CANCELLED" {% if p.status == 'CANCELLED' %}selected{% endif %}>Annulé</option>
                    </select>
                    </form>
                </td>
                {% endif %}
                
                {% if hide == 0 %}
                <td>
                    <form id="purchasepaid">
                        <input id="idpurchasepaid" name="idpurchase" type="hidden" value="{{p.id}}">
                        <select id="statePaid" class="form-select form-select-sm statusPaidPurchases" aria-label="Default select example">
                            <option value="PENDING" {% if p.statuspaid == 'PENDING' %}selected{% endif %}>En attente du paiement</option>
                            <option value="PAID" {% if p.statuspaid == 'PAID' %}selected{% endif %}>Paiement reçu</option>
                            <option value="CANCELLED" {% if p.statuspaid == 'CANCELLED' %}selected{% endif %}>Annulé</option>
                        </select>
                    </form>
                </td>
                {% endif %}
                {% if hide == 0 %}
                <td>
                    <a href="{{ path('op_gestapp_purchases_onepurchase', {'commande': p.numPurchase}) }}" type="button"><i class="fa-regular fa-credit-card"></i> Imprimer la facture</a>

                    <a href="#" class="js-modalSuppr text-danger" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ p.id }}">Supprimer</a>
                </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
