{{ form_start(form) }}
<div class="card-body">
    <div class="row">
        <div class="col-6">
            <h5>Description</h5>
            <hr>
            <div class="row mb-1 mt-1 g-1">
                <div class="col-2">
                    <b>{{ form_label(form.name, 'Nom', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-3">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom du produit'}}) }}
                </div>
            </div>
            <div class="row mb-1 mt-1 g-1">
                <div class="col-2">
                    <b>{{ form_label(form.productNature, 'Nature du produit', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-3">
                    {{ form_widget(form.productNature, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#addProductNature"><i class="bi bi-plus-circle"></i></button>
                </div>
                <div class="col-2">
                    <b>{{ form_label(form.category, 'Catégorie', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-3">
                    {{ form_widget(form.category, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
                <div class="col-1 d-flex align-items-center">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#addProductCategory"><i class="bi bi-plus-circle"></i></button>
                </div>
            </div>
            <div class="row mb-1 mt-1 g-1">
                <div class="col-2">
                    <b>{{ form_label(form.description, 'Description', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-10">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
            </div>
            <div class="row mb-1 mt-1 g-1">
                <div class="col-2">
                    <b>{{ form_label(form.details, 'Détails', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-10">
                    {{ form_widget(form.details, {'attr': {'class': 'form-control form-control-sm'}}) }}
                </div>
            </div>
            <div class="row mb-1 mt-1 g-1">
                <div class="col-2">
                    <b>{{ form_label(form.price, 'Prix', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-2">
                    {{ form_widget(form.price, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Identifiant'}}) }}
                </div>
                <div class="col-3">
                    {{ form_widget(form.productUnit, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
                <div class="col-1 d-flex align-items-center">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#addProductUnit"><i class="bi bi-plus-circle"></i></button>
                </div>
            </div>
            <div class="row mb-1 mt-1 g-1">
                <div class="col-2">
                    <b>{{ form_label(form.producer, 'Producteur', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-6">
                    {{ form_widget(form.producer, {'attr': {'class': 'form-select form-select-sm'}}) }}
                </div>
            </div>
            <div class="row mb-1 mt-1 g-1">
                <fieldset>
                    <div class="form-check form-switch">
                        {{ form_widget(form.isDisponible, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(form.isDisponible, 'Le produit est diponible à la vente', {'label_attr': {'class':'form-check-label'}}) }}
                    </div>
                </fieldset>
            </div>
            <div class="row mb-1 mt-1 g-1">
                <div class="col-2">
                    <b>{{ form_label(form.quantity, 'Quantité disponible', {'label_attr': {'class':'form-label'}}) }}</b>
                </div>
                <div class="col-3">
                    {{ form_widget(form.quantity, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom du produit'}}) }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5>Visuel</h5>
            <hr>
            <div class="row mb-1 mt-1 g-1">
                <div class="col-12">
                    {{ form_widget(form.productFile, {'attr': {'class': 'form-control-file form-control-sm'}}) }}
                </div>
            </div>
        </div>

    </div>
</div>
<div class="card-footer">
    <a class="btn btn-sm btn-secondary" href="{{ path('op_gestapp_product_index') }}"><i class="fas fa-angle-double-left"></i> Retour à la liste</a></a> <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
