<section class="mt-3 mb-3">
    <div class="row">
        {% for product in products %}
        <div class="col-3">
            <div class="card">
                <img class="img-fluid" src="{{vich_uploader_asset(product)}}" alt="{{product.name}}" style="max-height: 304px; min-height:304px;">
            </div>
            <a class="btn btn-change mt-2 w-100" href="{{path('op_gestapp_product_show', {'id': product.id})}}">ref : {{ product.ref}}
                <br>
                <small>{{product.name}}</small>
            </a>
        </div>
        {%endfor%}
    </div>
</section>