{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.onload = function(){

            function customEdit(){
                let urlForm = document.getElementById('CustomizeProduct').action
                let formdata = new FormData(document.getElementById('CustomizeProduct'))
                let data =  JSON.stringify(Object.fromEntries(formdata));
                axios
                    .post(urlForm, data)
                document.getElementById("formatedit").addEventListener("change", customEdit);
            }

            //Construction de la fonction d'envoi du produit dans le panier
            function BtnAddCart(event){
                event.preventDefault()
                const urladdcart = this.href
                const url2 = document.getElementById('CustomizeProduct').action
                const formdata = new FormData(document.getElementById('CustomizeProduct'))
                const data =  JSON.stringify(Object.fromEntries(formdata));
                axios
                    .post(url2, data)
                axios
                    .post(urladdcart)
                    .then(function(response) {
                        const liste = document.getElementById('count').innerHTML=response.data.count;
                        // mise en place des évènements sur la page
                        document.querySelectorAll('a.jsonAddCart').forEach(function (link) {
                            link.addEventListener('click', BtnAddCart);
                        })
                        document.querySelectorAll('a.js-increment').forEach(function (link) {
                            link.addEventListener('click', onClickBtnIncrement);
                        })
                        document.querySelectorAll('a.js-decrement').forEach(function (link) {
                            link.addEventListener('click', onClickBtnDecrement);
                        })
                        document.getElementById("formatedit").addEventListener("change", customEdit);
                    })
            }

            // Construction de la fonction "onClickBtnIncrement" : incrémentation d'un produit
            function onClickBtnIncrement(event){
                event.preventDefault();
                const url = this.href;
                console.log(url);
                axios
                    .post(url)
                    .then(function(response) {
                        // Rafraichissement du tableau "liste"
                        const count = document.getElementById('count').innerHTML=response.data.count;
                        // Remise en place des évènements sur la page
                        document.querySelectorAll('a.jsonAddCart').forEach(function (link){
                            link.addEventListener('click', BtnAddCart);
                        })
                        document.querySelectorAll('a.js-increment').forEach(function (link){
                            link.addEventListener('click', onClickBtnIncrement);
                        })
                        document.querySelectorAll('a.js-decrement').forEach(function (link){
                            link.addEventListener('click', onClickBtnDecrement);
                        })
                        document.getElementById("formatedit").addEventListener("change", customEdit);
                    });
            }

            // Construction de la fonction "onClickBtnIncrement" : incrémentation d'un produit
            function onClickBtnDecrement(event){
                event.preventDefault();
                const url = this.href;
                console.log(url);
                axios
                    .post(url)
                    .then(function(response) {
                        // Rafraichissement du tableau "liste"
                        const liste = document.getElementById('count').innerHTML = response.data.count;
                        // Remise en place des évènements sur la page
                        document.querySelectorAll('a.jsonAddCart').forEach(function (link){
                            link.addEventListener('click', BtnAddCart);
                        })
                        document.querySelectorAll('a.js-increment').forEach(function (link){
                            link.addEventListener('click', onClickBtnIncrement);
                        })
                        document.querySelectorAll('a.js-decrement').forEach(function (link){
                            link.addEventListener('click', onClickBtnDecrement);
                        })
                        document.getElementById("formatedit").addEventListener("change", customEdit);
                    });
            }

            // Appel de la fonction d'incrémentation d'un produit
            document.querySelectorAll('a.jsonAddCart').forEach(function (link){
                link.addEventListener('click', BtnAddCart);
            })

            // Appel de la fonction d'incrémentation d'un produit
            document.querySelectorAll('a.js-increment').forEach(function (link){
                link.addEventListener('click', onClickBtnIncrement);
            })

            // Appel de la fonction de décrementation d'un produit
            document.querySelectorAll('a.js-decrement').forEach(function (link){
                link.addEventListener('click', onClickBtnDecrement);
            })
            // Edition d'une personnalisation produit sur "change" Select : formatedit
            document.getElementById("formatedit").addEventListener("change", customEdit);
        }
    </script>
{% endblock %}

{% block content %}
    <div id="SoeurMarie_back">
        <header id="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>{{ product.name }} - Réf : {{ product.ref }}</h1>
                    </div>
                </div>
            </div>
        </header>
        <section id="page-content" class="op-section-product">
            <div id="productCard" class="container">
                {% include 'include/_alert.html.twig' with app.flashes %}
                <div class="row">
                    <div id="product-img" class="col-md-4 col-12">
                        <div class="mb-1">
                            {% if product.productName is null %}
                                <img class="img-fluid" src="{{ asset('images/jpg/Fond_product.jpg') }}" alt="image_replace">
                            {% else %}
                                <img class="card-img-top" src="{{ vich_uploader_asset(product) | imagine_filter('product_image_card') }}" alt="{{ product.productName }}">
                            {% endif %}
                        </div>

                    </div>
                    <div id="product-info" class="col-12 col-md-8">
                        <div id="content" class="mb-2">
                            <p><strong>Informations</strong></p>
                            {{ product.description|raw }}
                            <p><strong>Détails :</strong></p>
                            {{ product.details|raw }}
                            <p class="mt-2 mb-2">
                                <strong>Format disponible :</strong>
                            </p>
                            <table class="table table-light table-hover table-sm">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Prix</th>
                                    <th>Dimension</th>
                                    <th>Poids</th>
                                </tr>
                                </thead>
                                {% for f in product.formats %}
                                <tr>
                                    <td>{{ f.name }}</td>
                                    <td>{{ f.priceformat}} €</td>
                                    <td>{{ f.height|number_format(2, ',', ' ') }}cm / {{ f.length|number_format(2, ',', ' ') }}cm</td>
                                    <td>{{ f.weight }} g</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div id="options" class="mb-2">
                            <div class="row">
                                <div class="col-4">
                                    <p><b>{{ product.price|number_format(2, ',', ' ') }} €</b></p>
                                </div>
                                <div class="col-8">
                                    <p class="text-end">Ce produit est disponible : {{ product.isDisponible ? '<i class="bi bi-check2-circle text-success"></i>' : '<i class="bi bi-x-circle text-error"></i>' }}</p>
                                </div>
                            </div>
                        </div>
                        <div id="count" class="mb-2">
                            {{ include('gestapp/product/include/_count.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
