{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}
    <header id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ product.name }} - Réf : {{ product.ref }}</h1>
                </div>
            </div>
        </div>
    </header>
    <section id="page-content" class="op-section">
        <div class="container">
            {% include 'include/_alert.html.twig' with app.flashes %}

            <div class="row">
                <div class="col-4">
                    <div class="mb-1">
                        {% if product.productName is null %}
                            <img class="img-fluid" src="{{ asset('images/png/image_replace_product.png') }}" alt="image_replace">
                        {% else %}
                            <img src="{{ vich_uploader_asset(product) | imagine_filter('product_image_card') }}" alt="{{ product.productName }}" class="card-img-top" >
                        {% endif %}
                    </div>
                    <div class="mt-1">
                        <a href="{{ path('op_webapp_cart_add', {'id': product.id}) }}" class="btn btn-secondary"><i class="bi bi-cart-plus"></i> Ajouter au panier</a>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <p>Informations</p>
                        {{ product.description|raw }}

                    </div>
                    <div>
                        <p>Détails :</p>
                        {{ product.details|raw }}
                    </div>
                    <div>
                        <hr>
                        <b>{{ product.price }} € / {{ product.productUnit }}</b>
                    </div>
                    <div>
                        Ce produit est disponible : {{ product.isDisponible ? 'Oui' : 'Non' }}<br>
                        Produit en stock : {{ product.quantity }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
