<table class="table align-middle">
    <thead>
    <tr>
        <th></th>
        <th>Titre</th>
        <th>Etat</th>
        <th>Sections</th>
        <th>menu</th>
        <th>Publié</th>
        <th>Créer le</th>
        <th>Mise à jour</th>
        <th>actions</th>
        <th></th>
    </tr>
    </thead>
    {% set lastposition = '' %}
    <tbody>
    {% for page in pages %}
        <tr>
            <td><input id="pageId" type="checkbox" value="{{ page.id }}"></td>
            <td><a href="{{ path('op_webapp_page_show', {'id': page.id}) }}">{{ page.name }}</a> (<small class="text-dark">{{ page.slug }}</small>)</td>
            <td>{{ page.state }}</td>
            <td>{{ page.sections|length }}</td>
            <td>
                {% if page.ismenu == 1 %}
                    <a class="js-menu" href="{{path('op_webapp_page_menu', {'id' : page.id})}}"><i class="far fa-check-circle text-success"></i></a>
                {% else %}
                    <a class="js-menu" href="{{path('op_webapp_page_menu', {'id' : page.id})}}"><i class="far fa-times-circle text-danger"></i></a>
                {% endif %}
            </td>
            <td>
                {% if page.isPublish == 1 %}
                    <a class="js-publish" href="{{ path('op_webapp_page_publish', {'id': page.id}) }}"><i class="far fa-check-circle text-success"></i></a>
                {% else %}
                    <a class="js-publish" href="{{ path('op_webapp_page_publish', {'id': page.id}) }}"><i class="far fa-times-circle text-danger"></i></a>
                {% endif %}
            </td>
            <td>{{ page.createdAt ? page.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>{{ page.updatedAt ? page.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
            <td>
                <a href="{{ path('op_webapp_page_show', {'id': page.id}) }}"><i class="far fa-eye"></i></a>
                <a href="{{ path('op_webapp_page_edit', {'id': page.id}) }}"><i class="far fa-edit"></i></a>
                <a href="#" class="js-modalSuppr text-danger" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ page.id }}">
                    <i class="bi bi-eraser text-danger"></i>
                </a>
            </td>

            <th>
                {% if loop.first %}&nbsp;&nbsp;&nbsp;{% else %}<a href="#" class="jsPosition" id="{{ page.id }}"><i class="fas fa-long-arrow-alt-up"></i></a>&nbsp;&nbsp;{% endif %}
                {% if loop.last %}{% else %}<a href="#" class="jsPosition" id="{{ page.id }}"><i class="fas fa-long-arrow-alt-down"></i></a>{% endif %}
            </th>
        </tr>
    {% else %}
        <tr>
            <td colspan="13">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
