{# --------------------------
Bloc dynamique
Ajout du produit au panier et personnalisation
--------------------------- #}

{# On test l'existence du panier et on affiche les informations concernant le produit sélectionné #}
{% if app.session.get('cart') is not empty %}

    {# on filtre les occurences du panier sur les items ayant le même id produit #}
    {% for i in items|filter(i => i.product.id == product.id) %}

    {% if i.product.formats|length > 1 %}
    <div class="row">
        <div class="col-12">
            <p>Plusieurs format sont disponibles, n'oubliez pas de préciser celui que vous souhaitez.</p>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-between align-items-center">
            <div class="col-9">
                <form id="CustomizeProduct" action="{{ path('op_gestapp_product_customize_edit', {'id':i.product.id}) }}">
                    <div class="row g-1 align-items-center">

                        <label for="name" class="col-sm-3 col-form-label">Personnalisation :</label>
                        <div class="col-sm-3">
                            <select class="form-select form-select-sm" name="format" id="formatedit">
                            {% for f in i.product.formats %}
                                <option value="{{ f.id }}" {% if f.id == customizes.format.id %}selected="selected"{%endif%}>{{ f.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                        {% if i.product.isPersonalisable == 1 %}
                        <div class="col-sm-4">
                            <input id="name" name="name" type="text" class="form-control form-control-sm" placeholder="Entrez le prénom ...">
                        </div>
                        {% endif %}
                        <input id="sessid" name="sessid" type="hidden" value="{{ session }}">
                    </div>
                </form>
            </div>
            <div class="col-3">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                    <a type="button" class="js-increment btn btn-outline-sm" href="{{ path('op_webapp_cart_add', {'id': product.id}) }}?showproduct=true"><i class="bi bi-plus-circle"></i></a>
                    <button type="button" class="btn btn-outline-sm">&nbsp{{ i.qty }}&nbsp</button>
                    <a type="button" class="js-decrement btn btn-outline-sm" href="{{ path('op_webapp_cart_decrement', {'id': product.id}) }}?showproduct=true"><i class="bi bi-dash-circle"></i></a>
                </div>
            </div>
        </div>
    {% else %}
    {# Le panier est présent mais le produit n'est plus incrédenté #}
    {% if product.formats|length > 1 %}
    <div class="row">
        <div class="col-12">
            <p>Plusieurs format sont disponibles, n'oubliez pas de préciser celui que vous souhaitez.</p>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-between align-items-center">
            <div class="col-9">
                <form id="CustomizeProduct" action="{{ path('op_gestapp_product_customize_new', {'id':product.id}) }}">
                    <div class="row g-1 align-items-center">
                        <label for="name" class="col-sm-3 col-form-label">Personnalisation :</label>
                        <div class="col-sm-3">
                            <select class="form-select form-select-sm" name="format" id="format">
                                {% for f in product.formats %}
                                    <option value="{{ f.id }}">{{ f.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if product.isPersonalisable == 1 %}
                            <div class="col-sm-4">
                                <input id="name" name="name" type="text" class="form-control form-control-sm" placeholder="Entrez le prénom ...">
                            </div>
                        {% endif %}
                        <input id="sessid" name="sessid" type="hidden" value="{{ session }}">
                    </div>
                </form>
            </div>
            <div class="col-3">
                <a href="{{ path('op_webapp_cart_add', {'id': product.id}) }}?showproduct=true" class="btn btn-sm btn-outline-sm jsonAddCart"><i class="bi bi-cart-plus"></i> Ajouter au panier</a>
            </div>

        </div>
    {% endfor %}
{% else %}
    {% if product.formats|length > 1 %}
    <div class="row">
        <div class="col-12">
            <p>Plusieurs format sont disponibles, n'oubliez pas de préciser celui que vous souhaitez.</p>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-between">
        <div class="col-9">
            <form id="CustomizeProduct" action="{{ path('op_gestapp_product_customize_new', {'id':product.id}) }}">
                <div class="row g-1 align-items-center">
                    <label for="name" class="col-sm-3 col-form-label">Personnalisation:</label>
                    <div class="col-sm-3">
                        <select class="form-select form-select-sm" name="format" id="format">
                            {% for f in product.formats %}
                                <option value="{{ f.id }}">{{ f.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if product.isPersonalisable == 1 %}
                        <div class="col-sm-4">
                            <input id="name" name="name" type="text" class="form-control form-control-sm" placeholder="Entrez le prénom ...">
                        </div>
                    {% endif %}
                    <input id="sessid" name="sessid" type="hidden" value="{{ session }}">
                </div>
            </form>
        </div>
        <div class="col-3">
            <a href="{{ path('op_webapp_cart_add', {'id': product.id}) }}?showproduct=true" class="btn btn-sm btn-outline-sm jsonAddCart"><i class="bi bi-cart-plus"></i> Ajouter au panier</a>
        </div>
    </div>
{% endif %}