<form id="filters" action="">
    {# Construction en twig de la variable parent pour segmenter le filtrage des ressources #}
    {% set parents = [] %}
    {% for categorie in categories %}
        {% if categorie.parent is null %}
            {# Assemblage du tableau en twig #}
            {% set parents = parents|merge([{name : categorie.name, id: categorie.id}]) %}
        {% endif%}
    {% endfor%}

        {# Mise en place de la boucle à partir de Parents #}
        {% for parent in parents %}
            {# détection du nombre d'enfant #}
            {% set childs = categories|filter(categorie => categorie.parent == parent.name) %}

        <div class="card mb-1">
            {% if childs|length == 0 %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <input type="checkbox" name="categories[]" id="cat{{ parent.id }}" value="{{ parent.id }}">
                    <label for="cat{{ parent.id }}">{{ parent.name|upper }}</label>
                </li>
            </ul>
            {% else %}
            <div class="card-header">
                {{parent.name|upper}}
            </div>
                <ul class="list-group list-group-flush">

                {% for categorie in categories|filter(categorie => categorie.parent == parent.name) %}
                    <li class="list-group-item">
                        <input type="checkbox" name="categories[]" id="cat{{ categorie.id }}" value="{{ categorie.id }}">
                        <label for="cat{{ categorie.id }}">{{ categorie.name }}</label>
                    </li>
            {% endfor %}
                </ul>

            {% endif %}
        </div>
        {% else %}
        <div class="card">
            <div class="card-header">
                Aucune catégorie
            </div>
        </div>
        {% endfor %}
    {# <input type="hidden" id="page" value="{{ page }}"> #}
</form>
