{% for product in products %}
    <div class="col-2">
        <div class="card">
            {% if product.productName is null %}
                <img src="{{ asset('images/png/image_replace_product.png') }}" alt="image_replace">
            {% else %}
                <img src="{{ vich_uploader_asset(product)|imagine_filter('product_image_card') }}" alt="{{ product.productName }}" class="card-img-top" >
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{{ path('op_gestapp_product_edit', {'id': product.id}) }}">{{ product.name }}</a></h5>
                <div class="d-flex justify-content-between">
                    <p><span class="badge bg-primary">{{ product.productNature }}</span></p>
                    {# <p><span class="badge bg-primary">{{ product.category }}</span></p> #}
                </div>
                <p class="card-text">{{ product.description|raw }}</p>
                <p class="card-subtitle">{{ product.price }} € / {{ product.productUnit }}</p>
            </div>
            <div class="card-footer">
                <div class="d-flex flex-row justify-content-between">
                    {% if product.isOnLine == 0 %}
                        <p class="card-text"><a class="js-online" href="{{ path('op_gestapp_product_online', {'id':product.id}) }}"><i class="fas fa-toggle-off text-danger"></i></a></p>
                    {% else %}
                        <p class="card-text"><a class="js-online" href="{{ path('op_gestapp_product_online', {'id':product.id}) }}"><i class="fas fa-toggle-on text-success"></i></a></p>
                    {% endif %}
                    {% if product.isStar == 0 %}
                        <p class="card-text"><a class="js-star" href="{{ path('op_gestapp_product_star', {'id': product.id }) }}"><i class="far fa-star text-warning"></i></a></p>
                    {% else %}
                        <p class="card-text"><a class="js-star" href="{{ path('op_gestapp_product_star', {'id': product.id }) }}"><i class="fas fa-star text-warning"></i></a></p>
                    {% endif %}
                    <p class="card-text">
                        <a class="js-edit-product" href="{{ path('op_gestapp_product_edit', {'id': product.id}) }}"><i class="far fa-edit"></i></a>&nbsp;&nbsp;
                        <a href="#" class="js-modalSuppr text-danger" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ product.id }}">
                            <i class="bi bi-eraser text-danger"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Pas de produits dans notre boutique actuellement.</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}