<div class="card">
    <div class="card-body">
        <h4><a href="{{ path('op_gestapp_product_new') }}"><i class="far fa-plus-square"></i> Nouveau produit</a></h4>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4><a href="{{ path('op_gestapp_product_nature_index') }}"><i class="far fa-plus-square"></i> Natures et catégories</a></h4>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4>
            {% if app.request.get('_route') == 'op_gestapp_product_index'%}
                <a href="{{ path('op_admin_dashboard_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
            {% else %}
                <a href="{{ path('op_gestapp_product_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
            {% endif %}
        </h4>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-text">Filtres</h4>
    </div>
    <ul class="list-group list-group-flush">
        {% for nature in natures %}
        <li class="list-group-item">
            <a class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#components-collapse" aria-expanded="false" aria-current="false">
                {{ nature.name }}
            </a>

            <div class="collapse" id="components-collapse" style="">
                {% for categorie in categories|filter(categorie => categorie.nature == nature.name) %}
                <ul class="list-unstyled fw-normal pb-1 small">
                    {{ categorie.name }}
                </ul>
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
