{% extends 'admin.html.twig' %}

{% block title %}Recommandation index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            // Modal suppr une ligne
            var Suppr = document.getElementById('Suppr')
            Suppr.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var a = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = a.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                var modalTitle = Suppr.querySelector('.modal-title')
                var modalText = Suppr.querySelector('.modal-text')
                var modalBodyInput = Suppr.querySelector('.modal-body input')

                modalTitle.textContent = "Suppression d'une recommandation"
                modalBodyInput.value = recipient
                modalText.innerHTML = "Vous êtes sur le point de supprimer la recommandation sélectionnée.<br><b>Etes-vous sur de continuer ?</b>"
            })

            // function Suppression de la ligne en cours
            function onClickDelEvent(event){
                //event.preventDefault()
                const id = document.getElementById('recipient-name').value
                axios
                    .post('/gest/app/recommandation/del/'+ id)
                    .then(function(response)
                    {
                        // préparation du toaster
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };
                        // initialisation du toaster
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                        // rafraichissement du tableau
                        const liste = document.getElementById('liste');
                        console.log(liste, response.data);
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }

            // Bouton de suppression de la ligne en cours
            document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                link.addEventListener('click', onClickDelEvent)
            })
        }
    </script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    {{ include('gest_app/recommandation/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('gest_app/recommandation/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Catalogue des recommandations</h4>
                        <p>Créer, Modifier ou supprimer des recommandations du site.</p>
                        <div class="row">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Client</th>
                                        <th>Contacts</th>
                                        <th>Estimation</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody id="liste">
                                {% for recommandation in recommandations %}
                                    <tr>
                                        <td>
                                            {{ recommandation.name }}
                                            {% if recommandation.recostate == 'noRead' %}
                                                <span class="badge bg-warning">Non lue</span>
                                            {% elseif recommandation.recostate == 'inProgress'%}
                                                <span class="badge bg-info">En cours</span>
                                            {% elseif recommandation.recostate == 'Valid'%}
                                                <span class="badge bg-success">Validée</span>
                                            {% elseif recommandation.recostate == 'Avort'%}
                                                <span class="badge bg-danger">Sans suite</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ recommandation.description }}</td>
                                        <td>{{ recommandation.clientFirstname }} {{ recommandation.clientLastname }}</td>
                                        <td>
                                            {% if recommandation.ClientDesk is not null %}
                                                {{ recommandation.ClientDesk }}
                                            {% elseif recommandation.ClientDesk is not null and recommandation.ClientEmail is null and recommandation.clientGsm is not null %}
                                                {{ recommandation.ClientDesk }} / {{ recommandation.clientGsm }}
                                            {% elseif recommandation.ClientDesk is not null and recommandation.ClientEmail is not null and recommandation.clientGsm is null %}
                                                {{ recommandation.ClientEmail }} / {{ recommandation.ClientDesk }}
                                            {% else %}
                                                {{ recommandation.ClientEmail }} / {{ recommandation.ClientDesk }} / {{ recommandation.clientGsm }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if recommandation.recoPrice is null %}Non déterminé{% else %}{{ recommandation.recoPrice }}€{% endif %}</td>
                                        <td>
                                            <a href="{{ path('op_gestapp_recommandation_show', {'id': recommandation.id}) }}">voir</a>
                                            <a href="{{ path('op_gestapp_recommandation_edit', {'id': recommandation.id}) }}">modifier</a>
                                            <a href="#" class="js-modalSuppr text-danger" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ recommandation.id }}">
                                                <i class="bi bi-eraser text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="18">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-secondary" href="{{ path('op_gestapp_recommandation_index') }}">Retour à la liste des recommandations</a>
                        <a class="btn btn-sm btn-primary" href="{{ path('op_gestapp_recommandation_new') }}">Ajouter une recommandation</a>
                    </div>
                </div>
            </div>
            <!-- TOAST Bootstrap 5-->
            <div id="toaster" role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Bootstrap</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
