{% extends 'admin.html.twig' %}

{% block title %}Recommandation{% endblock %}

{% block content %}
    <h1>Recommandation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recommandation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ recommandation.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ recommandation.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recommandation.description }}</td>
            </tr>
            <tr>
                <th>ClientFirstname</th>
                <td>{{ recommandation.clientFirstname }}</td>
            </tr>
            <tr>
                <th>ClientLastname</th>
                <td>{{ recommandation.clientLastname }}</td>
            </tr>
            <tr>
                <th>ClientAddress</th>
                <td>{{ recommandation.clientAddress }}</td>
            </tr>
            <tr>
                <th>ClientComplement</th>
                <td>{{ recommandation.clientComplement }}</td>
            </tr>
            <tr>
                <th>ClientZipcode</th>
                <td>{{ recommandation.clientZipcode }}</td>
            </tr>
            <tr>
                <th>ClientCity</th>
                <td>{{ recommandation.clientCity }}</td>
            </tr>
            <tr>
                <th>ClientEmail</th>
                <td>{{ recommandation.ClientEmail }}</td>
            </tr>
            <tr>
                <th>ClientDesk</th>
                <td>{{ recommandation.ClientDesk }}</td>
            </tr>
            <tr>
                <th>ClientGsm</th>
                <td>{{ recommandation.clientGsm }}</td>
            </tr>
            <tr>
                <th>RecoPrice</th>
                <td>{{ recommandation.recoPrice }}</td>
            </tr>
            <tr>
                <th>RecoState</th>
                <td>{{ recommandation.recoState }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ recommandation.CreatedAt ? recommandation.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ recommandation.updatedAt ? recommandation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('op_gestapp_recommandation_index') }}">back to list</a>

    <a href="{{ path('op_gestapp_recommandation_edit', {'id': recommandation.id}) }}">edit</a>

    {{ include('gest_app/recommandation/_delete_form.html.twig') }}
{% endblock %}
