{% extends 'admin.html.twig' %}

{% block title %}Recommandation index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // Ajouter la recommandation en BDD
            function onClickBtnAddRecoPrice(event){
                event.preventDefault();
                const url = this.href;
                const id = document.getElementById('recoid').value;
                const name = document.getElementById('name').value;
                const description = document.getElementById('description').value;
                const clientAddress = document.getElementById('clientAddress').value;
                const clientComplement = document.getElementById('clientComplement').value;
                const clientZipcode = document.getElementById('clientZipcode').value;
                const clientCity = document.getElementById('clientCity').value;
                const recoprice = document.getElementById('recoprice').value;
                const recostate = document.getElementById('recostate').value;
                axios
                    .post(url, {name:name, description:description, recoprice:recoprice, recostate:recostate, clientAddress: clientAddress, clientComplement:clientComplement, clientZipcode:clientZipcode, clientCity:clientCity})
                    .then(function(response) {
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 4000,
                        };
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                ;
            }



            // appel de la fonction pour l'ajout de l'estimation de la recommandation
            document.querySelectorAll('a.js-add-recoprice').forEach(function (link){
                link.addEventListener('click', onClickBtnAddRecoPrice);
            })
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('gest_app/recommandation/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('gest_app/recommandation/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Catalogue des recommandations</h4>
                        <p>Créer, Modifier ou supprimer des recommandations du site.</p>
                        <div class="row form-edit">
                            <div class="col-6">
                                <h5 class="mb-3">Informations générales</h5>
                                <div class="row g-1">
                                    <div class="col-3">
                                        <p>Titre de la recommandation</p>
                                    </div>
                                    <div class="col-9">
                                        <input id="name" class="form-control form-control-sm" name="name" type="text" value="{{ recommandation.name }}">
                                    </div>
                                    <div class="col-3">
                                        <p>Besoins</p>
                                    </div>
                                    <div class="col-9">
                                        <input id="description" class="form-control form-control-sm" name="description" type="text" value="{{ recommandation.description|raw }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h5 class="mb-3">Coordonnées du client</h5>
                                <div class="row g-1">
                                    <div class="col-3">
                                        <p>Adresse</p>
                                    </div>
                                    <div class="col-9">
                                        <input id="clientAddress" class="form-control form-control-sm" name="clientAddress" type="text" value="{{ recommandation.clientAddress }}">
                                    </div>
                                    <div class="col-3">
                                    </div>
                                    <div class="col-9">
                                        <input id="clientComplement" class="form-control form-control-sm" name="clientComplement" type="text" value="{{ recommandation.clientComplement }}">
                                    </div>
                                    <div class="col-3">
                                    </div>
                                    <div class="col-3">
                                        <input id="clientZipcode" class="form-control form-control-sm" name="clientZipcode" type="text" value="{{ recommandation.clientZipcode }}">
                                    </div>
                                    <div class="col-6">
                                        <input id="clientCity" class="form-control form-control-sm" name="clientZipcode" type="text" value="{{ recommandation.clientZipcode }}">
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone"></i></span>
                                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value=" {{ recommandation.ClientDesk }}">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-phone"></i></span>
                                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ recommandation.clientGsm }}">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ recommandation.clientEmail }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Contact du client</th>
                                        <td>
                                            {% if recommandation.ClientDesk is not null %}
                                                {{ recommandation.ClientDesk }}
                                            {% elseif recommandation.ClientDesk is not null and recommandation.ClientEmail is null and recommandation.clientGsm is not null %}
                                                {{ recommandation.ClientDesk }} / {{ recommandation.clientGsm }}
                                            {% elseif recommandation.ClientDesk is not null and recommandation.ClientEmail is not null and recommandation.clientGsm is null %}
                                                {{ recommandation.ClientEmail }} / {{ recommandation.ClientDesk }}
                                            {% else %}
                                                {{ recommandation.ClientEmail }} / {{ recommandation.ClientDesk }} / {{ recommandation.clientGsm }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Estimation</th>
                                        <td>
                                                <input id="recoprice" class="form-control form-control-sm"name="recoprice" type="number" value="{{ recommandation.recoprice }}">
                                                <input id="recoid" type="hidden" value="{{ recommandation.id }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Etat de la recommandation</th>
                                        <td>
                                            <select id="recostate" class="form-select form-select-sm" aria-label="Default select example">
                                                <option value="InProgress" {% if recommandation.recoState == 'InProgress' %}selected{% endif %}>En cours</option>
                                                <option value="Valid" {% if recommandation.recoState == 'Valid' %}selected{% endif %}>Validée</option>
                                                <option value="Avort" {% if recommandation.recoState == 'Avort' %}selected{% endif %}>Sans suite</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Recommandation émise le</th>
                                        <td>{{ recommandation.CreatedAt ? recommandation.CreatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Mise à jour</th>
                                        <td>{{ recommandation.updatedAt ? recommandation.updatedAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a class="btn btn-sm btn-secondary" href="{{ path('op_gestapp_recommandation_index') }}">Retour à la liste des recommandations</a>
                        <a class="btn btn-sm btn-primary js-add-recoprice" href="{{ path('op_gestapp_recommandation_addrecoprice', {'id':recommandation.id}) }}">Mettre à jour la recommandation</a>
                    </div>
                </div>
                <!-- TOAST Bootstrap 5-->
                <div id="toaster" role="alert" aria-live="assertive" aria-atomic="true" class="toast text-white bg-success" data-bs-autohide="false">

                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
{% endblock %}
