{% extends 'admin.html.twig' %}

{% block title %}Adhesion index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            // Lancement de la modal de suppression d'une adhésion
            var Suppr = document.getElementById('Suppr')
            Suppr.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var a = event.relatedTarget
                // Extract info from data-bs-* attributes
                var recipient = a.getAttribute('data-bs-whatever')
                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                //
                // Update the modal's content.
                var modalTitle = Suppr.querySelector('.modal-title')
                var modalText = Suppr.querySelector('.modal-text')
                var modalBodyInput = Suppr.querySelector('.modal-body input')

                modalTitle.textContent = "Suppression d'un évènement"
                modalBodyInput.value = recipient
                modalText.innerHTML = "Vous êtes sur le point de supprimer la demande d'adhésion.<br><b>Etes-vous bien sur de vouloir continuer ?</b>"
            })

            // function Suppression de la ligne en cours
            function onClickDelEvent(event){
                //event.preventDefault()
                const id = document.getElementById('recipient-name').value;
                axios
                    .post('/admin/member/del/'+ id)
                    .then(function(response)
                    {
                        const liste = document.getElementById('liste').innerHTML;
                        console.log(liste);

                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };

                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }

            // Ajout d''un Event sur la class Js-Data-Suppr
            document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                link.addEventListener('click', onClickDelEvent)
            })
        }
    </script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('Gestapp/adhesion/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-2">
                {{ include('Gestapp/adhesion/include/_section_content_aside.html.twig') }}
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-body">
                        <h4>Liste des adhesions</h4>
                        <p>Créer, Modifier ou supprimer des adhésions</p>
                        <div class="row">
                            <div class="col-12">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nom & prénom</th>
                                        <th>Société</th>
                                        <th>Email</th>
                                        <th>Siret</th>
                                        <th>Gerant</th>
                                        <th>UrlWeb</th>
                                        <th>UrlFacebook</th>
                                        <th>UrlInstagram</th>
                                        <th>UrlLinkedin</th>
                                        <th>Envoyé le</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for adhesion in adhesions %}
                                        <tr class="align-middle">
                                            <td><input type="checkbox"></td>
                                            <td>{{ adhesion.firstName }} {{ adhesion.lastName }}</td>
                                            <td>{{ adhesion.society }}</td>
                                            <td>{{ adhesion.email }}</td>
                                            <td>{{ adhesion.siret }}</td>
                                            <td>{{ adhesion.gerantFirstname }} {{ adhesion.gerantLastName }}</td>
                                            <td>{{ adhesion.urlWeb }}</td>
                                            <td>{{ adhesion.urlFacebook }}</td>
                                            <td>{{ adhesion.urlInstagram }}</td>
                                            <td>{{ adhesion.urlLinkedin }}</td>
                                            <td>{{ adhesion.createdAt ? adhesion.createdAt|format_datetime('medium', 'none', locale='fr') : '' }}</td>
                                            <td>
                                                <a href="{{ path('op_Gestapp_adhesion_show', {'id': adhesion.id}) }}"><i class="far fa-eye"></i></a>&nbsp;
                                                <a href="{{ path('op_Gestapp_adhesion_edit', {'id': adhesion.id}) }}"><i class="far fa-edit"></i></a>&nbsp;
                                                <a href="#" class="js-modalSuppr text-danger" type="button" data-bs-toggle="modal" data-bs-target="#Suppr" data-bs-whatever="{{ adhesion.id }}">
                                                    <i class="fas fa-eraser"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="11">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
