{% extends 'base.html.twig' %}

{% block title %}Adhesion{% endblock %}

{% block body %}
    <h1>Adhesion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adhesion.id }}</td>
            </tr>
            <tr>
                <th>Society</th>
                <td>{{ adhesion.society }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ adhesion.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ adhesion.lastName }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ adhesion.address }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ adhesion.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ adhesion.city }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ adhesion.email }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ adhesion.siret }}</td>
            </tr>
            <tr>
                <th>Gerant</th>
                <td>{{ adhesion.gerant }}</td>
            </tr>
            <tr>
                <th>UrlWeb</th>
                <td>{{ adhesion.urlWeb }}</td>
            </tr>
            <tr>
                <th>UrlFacebook</th>
                <td>{{ adhesion.urlFacebook }}</td>
            </tr>
            <tr>
                <th>UrlInstagram</th>
                <td>{{ adhesion.urlInstagram }}</td>
            </tr>
            <tr>
                <th>UrlLinkedin</th>
                <td>{{ adhesion.urlLinkedin }}</td>
            </tr>
            <tr>
                <th>IsGroupeEntreprendre</th>
                <td>{{ adhesion.isGroupeEntreprendre ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>FirstActivity</th>
                <td>{{ adhesion.firstActivity }}</td>
            </tr>
            <tr>
                <th>SecondActivity</th>
                <td>{{ adhesion.secondActivity }}</td>
            </tr>
            <tr>
                <th>ProjectDev</th>
                <td>{{ adhesion.projectDev }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ adhesion.createdAt ? adhesion.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ adhesion.updatedAt ? adhesion.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('op_gestapp_adhesion_index') }}">back to list</a>

    <a href="{{ path('op_gestapp_adhesion_edit', {'id': adhesion.id}) }}">edit</a>

    {{ include('gestapp/adhesion/_delete_form.html.twig') }}
{% endblock %}
